.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  position: relative;

  video {
    width: 100%;
    height: auto;
  }

  .video-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;

    .options {
      display: flex;
      align-items: center;

      button {
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;

        &:hover {
          color: #ff0;
        }

        &.play-pause {
          font-size: 2em;
          margin: 0 20px;
        }

        i {
          font-size: 1.5em;
        }
      }

      .video-timer {
        color: #fff;
        margin: 0 10px;
        display: flex;
        align-items: center;

        .current-time, .video-duration {
          font-size: 1.1em;
        }

        .separator {
          margin: 0 5px;
        }
      }

      input[type="range"] {
        width: 70px;
        margin-left: 10px;
      }
    }

    .progress-area {
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;

      span {
        color: #fff;
        font-size: 0.8em;
        margin-left: 10px;
      }

      .progress-bar {
        height: 5px;
        background: #ff0;
      }
    }
  }
}
