<div class="course-card">
    <div class="image">
        <img src={{course.courseImageUrl}} alt="">
    </div>
    <div class="rating">
        <img src="../../assets/svg/rating-star.svg" alt="rating-star" *ngFor="let star of ' '.repeat(course.courseAvgReview).split('')">
    </div>
    <div class="category">
        <h3>{{course.categoryName}}</h3>
    </div>
    <div class="course-name">
        <h1>{{course.courseTitle}}</h1>
    </div>
    <div class="description">
        <p>{{course.courseDescription}}</p>
    </div>
    <div class="action">
        <button>Get started</button>
    </div>
</div>