@use "../../../../assets/style/abstracts/mixins.scss" as *;
@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/placeholders" as *;
.wrapper{
    background-color: $mainColorLight;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    .earth{
        position: absolute;
        left: 1rem;
        bottom: 1rem;
    }

    .arrow{
        position: absolute;
        bottom: 1.2rem;
        right: 1rem;
    }

    h1{
      @include style-font('Cabin', 15, 124.04%, $blackColor,600);
      font-size: 24px;
    }

    h3{
        font-size: 36px;
    }
    select{
        padding: 1rem;
        padding-left: 3rem;
        font-family:$font-cabin;
        font-weight: 500;
        width: 100%;
        appearance: none;
    }
}
