<div class="wrapper">
    <div class="box">
        <h1>My learning</h1>
        <div class="controls">
            <header>My courses</header>
            <button>Wishlist</button>
        </div>
        <div class="grid-view row">
            <div class="one col-12 col-md-4 mb-4">
                <app-course-card></app-course-card>
            </div>
            <div class="one col-12 col-md-4">
                <app-course-card></app-course-card>
            </div>
            <div class="one col-12 col-md-4">
                <app-course-card></app-course-card>
            </div>
            <div class="one col-12 col-md-4">
                <app-course-card></app-course-card>
            </div>
            <div class="one col-12 col-md-4">
                <app-course-card></app-course-card>
            </div>
            <div class="one col-12 col-md-4">
                <app-course-card></app-course-card>
            </div>
        </div>
    </div>
    
    
</div>
