@use "../../assets/style/abstracts/variables.scss" as *;
@use "../../assets/style/abstracts/mixins.scss" as *;
@use "../../assets/style/abstracts/_placeholders.scss" as *;

.wrapper{
    background-color: $mainColorLight;
    padding: 1rem;
    
    .box {
        padding: 2rem;
        margin: 1rem;
        border: 2px solid $blackColor;
        background-color: $whiteColor;
    
        h1 {
            @include style-font('Anton', 48px, 80px, $blackColor)
        }
    
        .controls {
            @extend %flex-row;
            gap: 0.4rem;
            margin-bottom: 1rem;
    
            header
            {
                @include custom-header();
                box-shadow: none;
                background-color: $mainColorLight;
            }
    
            button{
                @include custom-button($greenColor, $blackColor, $blackColor, 24px);
                border-radius: 50px;
            }
        }

        .empty{
            button{
                @include custom-button($greenColor, $blackColor, $blackColor, 24px);
                position: relative;
                margin-left: calc(50% - 9rem);
                width: 18rem;
                margin-bottom: 1rem;
            }
        }
    }
}
