@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/mixins.scss" as *;


section {
  h2 {
    @include style-font($font-cabin, 36px, 124.04%, $blackColor);
    font-weight: bold;
  }

  h4 {
    @include style-font($font-cabin,24px,124.04%,$blackColor);
    margin-bottom: 20px;
    font-weight: bold;
  }

  form {
    div {
      position: relative;

      input {
        border: 1px solid $blackColor;
        width: 100%;
        padding: 18px;
        font-size: 24px;

        &:read-only {
          color: rgba(0, 0, 0, 0.248);
          border-color:rgba(0, 0, 0, 0.248);
        }

        &:focus {
          outline: none;
        }
      }

      &.basics {
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        .form-outline {
          &.bio {
            position: relative;
            border: 1px solid $blackColor;
            &.send {
              color: rgba(0, 0, 0, 0.248);
              border-color:rgba(0, 0, 0, 0.248);
            }

            .number {
              position: absolute;
              right: 0;
              bottom: -30px;
              font-size: 16px;
              color: gray;
              padding: 0;
            }
          }

          > * {
            padding: 10px;
            font-size: 24px;
          }
          > div {
            display: flex;
            gap: 15px;
            border-bottom: 2px solid #ccc;
            span {
              cursor: pointer;
              font-weight: bold;
              &:last-child {
                font-family: 'Times New Roman';
                font-style: italic;
              }
            }
          }

          textarea {
            border: none;
            resize: none;
            outline: none;
            color: $blackColor;
            padding: 10px;
            &:read-only {
              color: rgba(0, 0, 0, 0.248);
              border-color:rgba(0, 0, 0, 0.248);
            }

            &:focus {
              outline: none;
            }

          }
        }
      }

      &.links {
        display: flex;
        flex-direction: column;

        .form-outline {
          &.order-1 {
            order: 1;
          }

          &.order-2 {
            order: 2;
          }

          &:not(.website) {
            display: flex;
            border: 1px solid $blackColor;
            span {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $secondaryColor;
              padding: 0 15px;
              border-right: inherit;
              font-size: 24px;
            }
            input {
              border: 0;
            }
          }

          &.send {
            color: rgba(0, 0, 0, 0.248);
            border-color:rgba(0, 0, 0, 0.248);
          }

        }
      }

      &.btns {
          width: fit-content;
          margin-left: auto;

          .profile {
            @include custom-button($mainColorLight,$blackColor,$blackColor,22px);
            margin-right: 20px;
            padding-top: 7px;
            padding-bottom: 7px;
          }

          .save {
            @include custom-button($greenColor,$blackColor,$blackColor, 22px);
            padding-top: 7px;
            padding-bottom: 7px;
            &.send {
              position: relative;
              padding: 7px 9px;
              opacity: 0.7;
              box-shadow: none;
              cursor: not-allowed;
              &:active {
                transform: translate(0px, 0px);
                -webkit-transform: translate(0px, 0px);
                -moz-transform: translate(0px, 0px);
                -ms-transform: translate(0px, 0px);
                -o-transform: translate(0px, 0px);
              }

              span {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                &::after {
                  content: "";
                  width: 20px;
                  height: 20px;
                  border: 3px solid black;
                  border-left: 3px solid transparent;
                  animation-name: load;
                  animation-timing-function: linear;
                  animation-duration: 0.7s;
                  animation-iteration-count: infinite;
                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  -o-border-radius: 50%;
                }
              }
            }
          }
      }
    }
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
    -webkit-transform: rotate(350deg);
    -moz-transform: rotate(350deg);
    -ms-transform: rotate(350deg);
    -o-transform: rotate(350deg);
  }
}
