<Section class="main-padding-y main-padding-x">
  <div class="container-fluid text-center">
    <h2 class="mb-5">Trusted by</h2>
    <div
      class="cards d-flex flex-wrap align-items-center justify-content-evenly"
    >
      <div>
        <img
          src="../../../../assets/svg/harvard.svg"
          alt="harvard logo"
          loading="lazy"
        />
      </div>
      <div>
        <img
          src="../../../../assets/svg/mit logo.svg"
          alt="mit logo"
          loading="lazy"
        />
      </div>
      <div>
        <img
          src="../../../../assets/svg/princeton.svg"
          alt="princeton logo"
          loading="lazy"
        />
      </div>
      <div>
        <img
          src="../../../../assets/svg/bristol.svg"
          alt="bristol logo"
          loading="lazy"
        />
      </div>
      <div>
        <img
          src="../../../../assets/svg/cambirage.svg"
          alt="cambirage logo"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</Section>
