<div class="popular-instructors">
  <div class="section-title">
    <h5 class="popular-instructor-header">Popular Instructors</h5>
    <h1>Learn from Renowned Experts</h1>
  </div>

  <div class="first-two-cards">
    <div class="Instructor-card first">
      <div>
        <img
          src="{{ topInstructorOne?.profilePicture }}"
          alt="instructor-picture"
        />
      </div>
      <section>
        <p>{{ topInstructorOne?.avgRating }} Instructor Rating</p>
        <h1>
          {{ topInstructorOne?.firstName }} {{ topInstructorOne?.lastName }}
        </h1>
        <p>{{ topInstructorOne?.title }}</p>
        <p>
          {{ topInstructorOne?.noOfStudents }} Students |
          {{ topInstructorOne?.noOfCourses }} Courses
        </p>
      </section>
    </div>
    <div class="Instructor-card second">
      <div>
        <img
          src="{{ topInstructorTwo?.profilePicture }}"
          alt="instructor-picture"
        />
      </div>
      <section>
        <p>{{ topInstructorTwo?.avgRating }} Instructor Rating</p>
        <h1>
          {{ topInstructorTwo?.firstName }} {{ topInstructorTwo?.lastName }}
        </h1>
        <p>{{ topInstructorTwo?.title }}</p>
        <p>
          {{ topInstructorTwo?.noOfStudents }} Students |
          {{ topInstructorTwo?.noOfCourses }} Courses
        </p>
      </section>
    </div>
  </div>
  <div class="second-two-cards">
    <div class="Instructor-card third">
      <div>
        <img
          src="{{ topInstructorThree?.profilePicture }}"
          alt="instructor-picture"
        />
      </div>
      <section>
        <p>{{ topInstructorThree?.avgRating }} Instructor Rating</p>
        <h1>
          {{ topInstructorThree?.firstName }} {{ topInstructorThree?.lastName }}
        </h1>
        <p>{{ topInstructorThree?.title }}</p>
        <p>
          {{ topInstructorThree?.noOfStudents }} Students |
          {{ topInstructorThree?.noOfCourses }} Courses
        </p>
      </section>
    </div>
    <div class="Instructor-card forth">
      <div>
        <img
          src="{{ topInstructorFour?.profilePicture }}"
          alt="instructor-picture"
        />
      </div>
      <section>
        <p>{{ topInstructorFour?.avgRating }} Instructor Rating</p>
        <h1>
          {{ topInstructorFour?.firstName }} {{ topInstructorFour?.lastName }}
        </h1>
        <p>{{ topInstructorFour?.title }}</p>
        <p>
          {{ topInstructorFour?.noOfStudents }} Students |
          {{ topInstructorFour?.noOfCourses }} Courses
        </p>
      </section>
    </div>
  </div>
</div>
