@use "../../../../assets/style/abstracts/variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
}

img {
  box-shadow: 3px 3px 0 $whiteColor;
  border: 3px solid $blackColor;
  width: 400px;
  height: 400px;
}
.main {
  background-color: $blackColor;
  padding: 40px;
  display: flex;
}
.about {
  font-size: 1.5rem;
  font-weight: 400;
}
@media screen and (min-width: 600px) {
  .about {
    font-size: 2rem;
    font-weight: 400;
  }
}
@media only screen and (max-width: 800px) {
  img {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  img {
    width: 400px;
  }
  .about {
    font-size: $fs-48;
    font-weight: 400;
  }
}
@media only screen and (min-width: 1200px) {
  .about {
    font-size: $fs-64;
    font-weight: 400;
  }
}
