<section class="py-75 px-lg-2 px-0">
  <div class="container-fluid">
    <div class="statistics d-flex flex-wrap flex-lg-nowrap justify-content-center gap-5">
      <div class="available-courses text-center">
        <h2>{{numberOfCoursesAvailable | numberPlus }}</h2>
        <span>Courses Available</span>
      </div>
      <div class="successful-learners text-center">
        <h2>{{numberOfSuccessfulLearners | numberPlus}}</h2>
        <span>Successful Learners</span>
      </div>
      <div class="star-instructors text-center">
        <h2>{{numberOfFiveStarInstructors | numberPlus }}</h2>
        <span>5-Star Instructors</span>
      </div>
      <div class="average-course-rating text-center">
        <h2>{{averageCourseRating}}</h2>
        <span>Average Course Rating</span>
      </div>
    </div>
  </div>
</section>
