@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/mixins.scss" as *;

section {
  .title {
    h2 {
      svg {
        display: none;
        position: absolute;
        &:first-child {
          left: -10%;
          top: -55%;
        }
        &:last-child {
          right: -25%;
          top: 50%;
        }
      }
    }
  }
  .view-more {
    @include custom-button($greenColor,$blackColor,$blackColor,43px);
    display: block;
    margin: 30px auto;
  }
}

@media (min-width: 992px) {
  section {
    .title {
      h2 {
        svg {
          display: block;
        }
      }
    }
  }
}
