@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/mixins.scss" as *;

section {
  .title {
    text-align: center;
    h3 {
      @include custom-header;
      background-color: $secondaryColor;
      margin: auto;
    }
    h2 {
      position: relative;
      @include style-font($font-anton, 48px, 124.04%, $blackColor);
      letter-spacing: -1.5px;
      margin: 15px auto;
      width: fit-content;
      svg {
        display: none;
        position: absolute;
        &:first-child {
          left: -10%;
          top: -55%;
        }
        &:last-child {
          right: -25%;
          top: 50%;
        }
      }
    }
    p {
      margin: 0 auto;
      @include style-font($font-cabin, 24px, 124.04%, $blackColor);
    }
  }
}

@media (min-width: 992px) {
  section {
    .title {
      h2 {
        svg {
          display: block;
        }
      }
      p {
        width: 50%;
      }
    }
  }
}
