<div class="discussion-wrapper">
  <div class="add-discussion-sec">
    <h4 class="header">Add a Discussion</h4>
    <form (submit)="addDiscussion()">
      <div class="add-discussion-form">
        <label for="content"></label>
        <textarea
          [(ngModel)]="newDiscussionContent"
          name="content"
          id="content"
          rows="3"
          required
        ></textarea>
      </div>
      <div class="discussion-action">
        <button type="submit" class="add-discussion-button">
          Add discussion
        </button>
      </div>
    </form>
  </div>

  <div class="seperator"></div>
  <!-- Discussion Section -->
  <div class="lesson-discussion-sec">
    <div *ngFor="let discussion of discussions">
      <div class="discussion">
        <div class="parent-discussion-sec">
          <h5>{{ discussion.username }}</h5>
          <p>{{ discussion.content }}</p>
          <div class="date">{{ discussion.datetime }}</div>
          <div class="paretn-discussion-actions">
            <button
              class="btn btn-light"
              (click)="toggleReplies(discussion.id)"
              [disabled]="discussion.replies.length === 0"
            >
              Replies
              {{
                discussion.replies.length > 0
                  ? "(" + discussion.replies.length + ")"
                  : ""
              }}
            </button>
            <button class="btn btn-light" (click)="startReply(discussion.id)">
              Reply
            </button>
          </div>
          <div *ngIf="currentReplyDiscussionId === discussion.id">
            <form (submit)="addDiscussion()">
              <div class="add-discussion-form">
                <label for="content"></label>
                <textarea
                  [(ngModel)]="newDiscussionContent"
                  name="content"
                  id="content"
                  rows="3"
                  required
                ></textarea>
                <div class="discussion-action">
                  <button type="submit" class="add-reply-button">
                    Add Reply
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Replies to a discussion -->
        <div *ngIf="currentShowingRepliesId === discussion.id">
          <div *ngFor="let reply of discussions">
            <ng-container *ngIf="reply.parentDiscussionId === discussion.id">
              <div class="replies-sec">
                <div>
                  <div class="reply">
                    <h5>{{ reply.username }}</h5>
                    <p class="card-text">{{ reply.content }}</p>
                    <div class="date">{{ discussion.datetime }}</div>
                    <div class="reply-action">
                      <button
                        (click)="startReply(reply.id)"
                        class="add-reply-button"
                      >
                        Reply
                      </button>
                    </div>
                    <div *ngIf="currentReplyDiscussionId === reply.id">
                      <form (submit)="addDiscussion()">
                        <div class="add-discussion-form">
                          <label for="content"></label>
                          <textarea
                            [(ngModel)]="newDiscussionContent"
                            name="content"
                            id="content"
                            rows="3"
                            required
                          ></textarea>
                          <div class="discussion-action">
                            <button class="add-reply-button" type="submit">
                              Add Reply
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
