@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/mixins.scss" as *;

* {
  font-family: $mainFontFamily;
}
section {
  padding: 88px;
}
.header {
  text-align: center;
}
.header > p {
  font-size: $fs-48;
  font-weight: 400;
  margin: 0;
}

.header > p:last-child {
  font-size: $fs-24;
  font-family: $secondaryFontFamily;
}

.contact {
  text-align: center;
}
.contact button {
  margin-top: 56px;
  @include custom-button($greenColor, $blackColor, $blackColor, 43px);
  font-family: $secondaryFontFamily;
  a {
    font-size: $fs-24;
    font-weight: 700;
    font-family: $font-cabin;
  }
}
