<!-- Header -->
<app-header-black-bg></app-header-black-bg>


<!-- Category Title -->
<div class="category-title">
    <div class="main-title">
        Developement Courses
    </div>
    <div class="description">
        The process of creating and maintaining websites and web applications. It involves a wide range of tasks,
        including design, coding, testing, and deployment.
    </div>
</div>

<!-- NavBar -->
<nav aria-label="subcategory" class="subcategory">

</nav>


<!-- Footer -->
<app-footer></app-footer>