@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/mixins.scss" as *;

form {
  border: 1px solid $blackColor;
  padding: 40px;
  box-shadow: 5px 5px 0 $blackColor;
  background-color: white;
  max-height: 100%;
}
h1 {
  font-size: $fs-48;
  font-weight: 400;
  font-family: $font-anton;
  margin-bottom: 15px;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
input {
  border: 2px solid $blackColor;
  padding: 15px;
  position: relative;
  text-indent: 50px;
  width: 100%;
  font-family: $font-cabin;
  font-size: $fs-24;
  font-weight: 400;
}
input::placeholder,
textarea::placeholder {
  color: $blackColor;
  font-size: $fs-24;
  font-family: $font-cabin;
}
.parent{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}
/*check for pesudo elements and use svg insted of place holder*/
.name-field,
.email-field,
.message-field {
  position: relative;
}
.name-field img,
.email-field img,
.message-field img {
  position: absolute;
  top: 20px;
  left: 15px;
}

textarea {
  border: 2px solid $blackColor;
  resize: none;
  position: relative;
  text-indent: 50px;
  width: 100%;
  padding: 15px;
  font-family: $font-cabin;
  font-size: $fs-24;
  font-weight: 400;
}

.login {
  @include custom-button($greenColor, $blackColor, $blackColor, 22px);
  padding: 7px 22px;
  &.send {
    display: block;
    position: relative;
    opacity: 0.7;
    box-shadow: none;
    cursor: not-allowed;
    &:active {
      transform: translate(0px, 0px);
      -webkit-transform: translate(0px, 0px);
      -moz-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      -o-transform: translate(0px, 0px);
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        border: 3px solid $blackColor;
        border-left: 3px solid transparent;
        animation-name: load;
        animation-timing-function: linear;
        animation-duration: 0.7s;
        animation-iteration-count: infinite;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
    -webkit-transform: rotate(350deg);
    -moz-transform: rotate(350deg);
    -ms-transform: rotate(350deg);
    -o-transform: rotate(350deg);
  }
}
