<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <h1>Your Message</h1>
  </div>

  <div class="form-group name-field">
    <input type="text" formControlName="name" placeholder="  Name" />
    <img src="../../../../assets/svg/user.svg" alt="" />
    <div
      *ngIf="name?.invalid && (name?.dirty || name?.touched)"
      class="text-danger"
    >
      <div *ngIf="name?.errors?.['required']">Name is required.</div>
    </div>
  </div>
  <!-- ----------------------------email--------------------------------------- -->
  <div class="form-group email-field">
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="  Email"
    />
    <img src="../../../../assets/svg/email.svg" alt="" />
    <div
      *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      class="text-danger"
    >
      <div *ngIf="email?.errors?.['required']">Email is required.</div>
      <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
    </div>
  </div>
  <!-- -----------------------------------message---------------------------------- -->
  <div class="form-group message-field">
    <textarea
      rows="10"
      id="message"
      formControlName="message"
      placeholder="  Message...."
    ></textarea>
    <img src="../../../../assets/svg/message.svg" alt="" />
    <div
      *ngIf="message?.invalid && (message?.dirty || message?.touched)"
      class="text-danger"
    >
      <div *ngIf="message?.errors?.['required']">Message is required.</div>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
