<section class="team">
  <div class="header">
    <h2>Team</h2>
    <div class="team-statements">
      <p>Meet The Experts Behind MindMission</p>
      <p>Passionate experts committed to your learning journey.</p>
    </div>
  </div>
  <div class="cards">
    <div class="card">
      <img
        src="../../../../assets/images/About/abdo.jpeg"
        alt="person photo"
        loading="lazy"
      />
      <div class="info">
        <h2>Abdelrahman ouf</h2>
        <p>Full-stack Developer</p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../assets/images/About/Dr-alaa.jpg"
        alt="person photo"
        loading="lazy"
      />
      <div class="info">
        <h2>Alaa Mandour</h2>
        <p>Full-stack Developer</p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../assets/images/About/mo-ibrahem.jpg"
        alt="person photo"
        loading="lazy"
      />
      <div class="info">
        <h2>Mohamed ibrahem</h2>
        <p>Full-stack Developer</p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../assets/images/About/mo-alaa.jpg"
        alt="person photo"
        loading="lazy"
      />
      <div class="info">
        <h2>Mohamed Alaa</h2>
        <p>Full-stack Developer</p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../assets/images/About/tarek-islam.jpg"
        alt="person photo"
        loading="lazy"
      />
      <div class="info">
        <h2>Tarek islam</h2>
        <p>Full-stack Developer</p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../assets/images/About/Mahmoud.jpg"
        alt="person photo"
        loading="lazy"
      />
      <div class="info">
        <h2>Mahmoud Ali</h2>
        <p>Full-stack Developer</p>
      </div>
    </div>
  </div>
  <div class="contact">
    <button><a routerLink="/contact">Contact US</a></button>
  </div>
</section>
