<section class="team">
  <div class="header">
    <h2>Team</h2>
    <p>Meet The Experts Behind MindMission</p>
    <p>Passionate experts committed to your learning journey.</p>
  </div>
  <div class="cards">
    <div class="card">
      <img src="../../../../assets/images/About/abdo.jpeg" />
      <div class="info">
        <h2>Abdelrahman ouf</h2>
        <p>Full-stack Developer</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/images/About/Dr-alaa.jpg" />
      <div class="info">
        <h2>Alaa Mandour</h2>
        <p>Full-stack Developer</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/images/About/mo-ibrahem.jpg" />
      <div class="info">
        <h2>Mohamed ibrahem</h2>
        <p>Full-stack Developer</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/images/About/mo-alaa.jpg" />
      <div class="info">
        <h2>Mohamed Alaa</h2>
        <p>Full-stack Developer</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/images/About/tarek-islam.jpg" />
      <div class="info">
        <h2>Tarek islam</h2>
        <p>Full-stack Developer</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/images/About/Mahmoud.jpg" />
      <div class="info">
        <h2>Mahmoud Ali</h2>
        <p>Full-stack Developer</p>
      </div>
    </div>
  </div>
  <p class="contact">
    <button><a routerLink="/contact">Contact US</a></button>
  </p>
</section>
