@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/mixins.scss" as *;

section {
  background-image: linear-gradient(to bottom, $whiteColor 50%, $secondaryColor 50%);

  .view-more {
    @include custom-button($greenColor,$blackColor,$blackColor,43px);
    display: block;
    margin: 30px auto;
  }
}
