<app-overview></app-overview>
<div class="Dashboard-body">
  <div class="upload-container">
    <div class="new-course-text">Upload a new course</div>
    <button class="upload-btn" routerLink="/createCourse/step1">Upload</button>
  </div>
  <div class="course-student">
    <app-course-traffic
      class="course-traffic"
      (courseIdChanged)="onCourseIdChanged($event)"
    ></app-course-traffic>

    <div class="recent-student">
      <h1>Recent Students</h1>
      <div class="Recent-Students">
        <div
          class="recent"
          *ngFor="let student of recentStudents"
          routerLink="/studentDetails/{{ student.id }}"
        >
          <div class="student-picture">
            <img [src]="student.profilePicture" alt="student-picture" />
          </div>
          <div>
            <div class="student-name">
              {{ student.firstName }} {{ student.lastName }}
            </div>
            <div class="student-title">Student</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
