@use "../../../../assets/style/abstracts/placeholders" as *;
@use "../../../../assets/style/abstracts/mixins.scss" as *;
@use "../../../../assets/style/abstracts/variables.scss" as *;
* {
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 60px 0px;
}
@media screen and (min-width: 992px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

h1 {
  font-size: $fs-64;
  font-weight: 400;
  font-family: $mainFontFamily;
  position: relative;
}
// .empower::before {
//   position: absolute;
//   content: url(../../../../assets/svg/underquoute.svg);
//   width: 30px;
//   height: 30px;
//   top: 100%;
//   left: 0%;
//   transform: translate(-50%, -50%);
// }
// .inspire::before {
//   content: url(../../../../assets/svg/upstar.svg);
//   position: absolute;
//   width: 20px;
//   height: 30px;
//   right: 25%;
//   top: -50%;
//   transform: translate(-50%, -50%);
//   text-align: center;
// }
.inspire::after {
  position: absolute;
  content: url(../../../../assets/svg/underline.svg);
  width: 100%;
  height: 40px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
}
.transform::after {
  position: absolute;
  content: url(../../../../assets/svg/tie.svg);
  width: 100%;
  height: 20px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -50;
}
p {
  font-size: $fs-24;
  font-weight: 700;
  font-family: $secondaryFontFamily;
}
