@use "../../assets/style/abstracts/variables.scss" as *;
@use "../../assets/style/abstracts/mixins.scss" as *;
section {
  background-color: $mainColorLight;
  padding: 88px 40px;
}
.card {
  display: grid;
  background-color: transparent;
  border: none;
  gap: 40px;
  align-items: start;
}
@media screen and (min-width: 768px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
}
