@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/mixins.scss" as *;
.dashboard-body {
  background-color: $mainColorLight;
  margin: 40px 72px;
}

.upload-container {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 40px 72px;
  @include custom-button($secondaryColor, $blackColor, $blackColor, 60px);
  padding: 24px;
  max-width: 100%;
  justify-self: center;
  .new-course-text {
    @include style-font("Anton", 36px, 124.04%, $blackColor);
    text-align: left;
    font-weight: 400;
  }
  .upload-btn {
    @include custom-button($greenColor, $blackColor, $blackColor, 43px);
    max-width: 150px;
    position: absolute;
    right: 24px;
    bottom: 12px;
  }
  @media (max-width: 767px) {
    .upload-container {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}

.course-student {
  display: grid;
  grid-template-columns: "2fr 1fr";
  .course-traffic{

  }
  .recent-student{}
}
