<app-overview></app-overview>
<div class="Dashboard-body">
  <div class="upload-container">
    <div class="new-course-text">Upload a new course</div>
    <button class="upload-btn">Upload</button>
  </div>
  <div class="course-student">
    <app-course-traffic class="course-traffic"></app-course-traffic>

    <div class="recent-student">
      <h1>Recent Students</h1>
      <div class="Recent-Students">
        <div class="recent">
          <div class="student-picture">
            <!-- <img
                  [src]="instructor[0].profilePicture"
                  alt="instructor-picture"
                /> -->
            <img
              src="../../../../assets/images/student1.jpg"
              alt="instructor image"
            />
          </div>
          <div>
            <div class="student-name">
              <!-- {{ instructor[0].firstName }} {{ instructor[0].lastName }} -->
              Joey Tribbiani
            </div>
            <div class="student-title">Back-end Developer</div>
          </div>
        </div>
        <div class="recent">
          <div class="student-picture">
            <!-- <img
                    [src]="instructor[0].profilePicture"
                    alt="instructor-picture"
                  /> -->
            <img
              src="../../../../assets/images/student1.jpg"
              alt="instructor image"
            />
          </div>
          <div>
            <div class="student-name">
              <!-- {{ instructor[0].firstName }} {{ instructor[0].lastName }} -->
              Joey Tribbiani
            </div>
            <div class="student-title">Back-end Developer</div>
          </div>
        </div>
        <div class="recent">
          <div class="student-picture">
            <!-- <img
                    [src]="instructor[0].profilePicture"
                    alt="instructor-picture"
                  /> -->
            <img
              src="../../../../assets/images/student1.jpg"
              alt="instructor image"
            />
          </div>
          <div>
            <div class="student-name">
              <!-- {{ instructor[0].firstName }} {{ instructor[0].lastName }} -->
              Joey Tribbiani
            </div>
            <div class="student-title">Back-end Developer</div>
          </div>
        </div>
        <div class="recent">
          <div class="student-picture">
            <!-- <img
                    [src]="instructor[0].profilePicture"
                    alt="instructor-picture"
                  /> -->
            <img
              src="../../../../assets/images/student1.jpg"
              alt="instructor image"
            />
          </div>
          <div>
            <div class="student-name">
              <!-- {{ instructor[0].firstName }} {{ instructor[0].lastName }} -->
              Joey Tribbiani
            </div>
            <div class="student-title">Back-end Developer</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
