<div class="upload-course-wrapper">
  <div class="upload-course-sec" *ngIf="!uploadingToDb">
    <div class="upload-heading">
      <div class="steps">Step 2 of 3</div>
      <div class="heading">Upload your course</div>
    </div>
    <div class="upload-main">
      <div class="chapters" cdkDropList (cdkDropListDropped)="drop($event)">
        <div
          *ngFor="let chapter of chapters; let i = index"
          class="chapter-lesson"
        >
          <div class="chapter-heading" *ngIf="!chapter.editMode" cdkDrag>
            <div class="chapter-data">
              <span class="input-title-style">Chapter {{ i + 1 }}:</span>
              <ng-container>
                {{ chapter.title }}
              </ng-container>
            </div>
            <div class="chapter-actions">
              <button (click)="toggleEditMode(i)">
                <img
                  *ngIf="!this.chapters[i].editMode"
                  src="../../../../assets/svg/edit.svg"
                  alt="edit icon"
                  loading="lazy"
                />
                <img
                  *ngIf="this.chapters[i].editMode"
                  src="../../../../assets/svg/tick.svg"
                  alt="save changes icon"
                  loading="lazy"
                />
              </button>
              <button>
                <img
                  src="../../../../assets/svg/delete-ico.svg"
                  alt="delete icon"
                  (click)="deleteChapter(i)"
                  loading="lazy"
                /></button
              ><button>
                <img
                  src="../../../../assets/svg/menu.svg"
                  alt="collapse icon"
                  (click)="toggleChapterCollapse(i)"
                  loading="lazy"
                />
              </button>
            </div>
          </div>
          <div
            class="chapter-body"
            *ngIf="!isChapterCollapsed[i] && !chapter.editMode"
          >
            <div
              class="chapter-lessons"
              cdkDropList
              (cdkDropListDropped)="dropLesson($event, i)"
            >
              <div
                *ngFor="let lesson of chapter.lessons; let j = index"
                class="lesson-sec"
              >
                <div class="lesson" *ngIf="!lesson.editMode">
                  <div class="lesson-heading" cdkDrag>
                    <div class="lesson-data word-wrap">
                      <span class="input-title-style">Lesson {{ j + 1 }}:</span>

                      <span
                        matTooltip="{{ lesson.description }}"
                        matTooltipPosition="above"
                      >
                        {{ lesson.title }}
                      </span>
                    </div>
                    <div class="lesson-actions">
                      <button (click)="editLesson(i, j)">
                        <img
                          src="../../../../assets/svg/edit.svg"
                          alt="edit icon"
                          loading="lazy"
                        />
                      </button>

                      <button>
                        <img
                          src="../../../../assets/svg/delete-ico.svg"
                          alt="delete icon"
                          (click)="deleteLesson(i, j)"
                          loading="lazy"
                        /></button
                      ><button (click)="toggleCollapse(j)">
                        <img
                          src="../../../../assets/svg/menu.svg"
                          alt="collapse icon"
                          loading="lazy"
                        />
                      </button>
                    </div>
                  </div>
                  <div class="lesson-body" *ngIf="!isCollapsed[j]">
                    <div *ngIf="lesson.type == articleType">
                      <div
                        class="word-wrap article-sec"
                        [innerHTML]="lesson.article!.content"
                      ></div>
                    </div>
                    <div
                      class="video-wrapper"
                      *ngIf="lesson.type === videoType"
                    >
                      <video [src]="lesson.video!.videoUrl" controls></video>
                    </div>
                    <div *ngIf="lesson.type === quizType">
                      <div
                        *ngFor="
                          let question of lesson.quiz?.questions;
                          let qNumber = index
                        "
                      >
                        <p class="word-wrap">
                          Q{{ qNumber + 1 }}: {{ question.questionText }}
                        </p>
                        <ul>
                          <ng-container
                            *ngFor="
                              let choice of question.choices;
                              let idx = index
                            "
                          >
                            <li
                              *ngIf="choice.length > 0"
                              class="word-wrap choice-style"
                              [ngClass]="{
                                'correct-answer':
                                  question.correctAnswer === choice
                              }"
                            >
                              {{ getChoiceIdentifier(idx) }}) {{ choice }}
                            </li>
                          </ng-container>
                        </ul>
                      </div>
                    </div>

                    <div
                      class="attachment"
                      *ngIf="!chapters[i].lessons[j].attachment"
                    >
                      <button (click)="onFileInputClick(i, j)">
                        <img
                          src="../../../../assets/svg/plus.svg"
                          alt="plus icon"
                          loading="lazy"
                        />
                        Add an attachment
                      </button>
                      <input
                        type="file"
                        #fileInput
                        hidden
                        (change)="onFileSelected($event, i, j)"
                      />
                    </div>
                    <div
                      class="uploaded-attachment"
                      *ngIf="chapters[i].lessons[j].attachment?.attachmentUrl"
                    >
                      <span>{{
                        chapters[i].lessons[j].attachment?.attachmentName
                      }}</span>
                      {{ chapters[i].lessons[j].attachment?.attachmentSize }}
                      <button (click)="deleteFile(i, j)">
                        <img
                          src="../../../../assets/svg/delete-ico.svg"
                          alt="delete icon"
                          loading="lazy"
                        />
                      </button>
                    </div>
                  </div>
                </div>
                <!--Edit Lesson-->
                <app-article-lesson
                  class="add-new add-new-lesson"
                  *ngIf="lesson.editMode && lesson.type == articleType"
                  [article]="lesson"
                  [editMode]="lesson.editMode"
                  (cancel)="cancelEditLesson(i, j)"
                  (save)="saveEditedLesson(i, j, $event)"
                ></app-article-lesson>
                <app-video-lesson
                  class="add-new add-new-lesson"
                  *ngIf="lesson.editMode && lesson.type == videoType"
                  [video]="lesson"
                  [editMode]="lesson.editMode"
                  (cancel)="cancelEditLesson(i, j)"
                  (save)="saveEditedLesson(i, j, $event)"
                ></app-video-lesson>
                <app-quiz-lesson
                  class="add-new add-new-lesson"
                  *ngIf="lesson.editMode && lesson.type == quizType"
                  [quiz]="lesson"
                  [editMode]="lesson.editMode"
                  (cancel)="cancelEditLesson(i, j)"
                  (save)="saveEditedLesson(i, j, $event)"
                ></app-quiz-lesson>
              </div>

              <!-- Lesson Form -->
              <ng-container *ngIf="showAddNewLesson[i]">
                <!-- Add Article Lesson -->
                <app-article-lesson
                  class="add-new add-new-lesson"
                  *ngIf="newLessonType[i] === 'Article'"
                  [(article)]="newArticles[i]"
                  [editMode]="editLessonMode"
                  (cancel)="cancelAddLesson(i)"
                  (save)="saveLesson(i, articleType)"
                ></app-article-lesson>

                <!-- Add Video Lesson -->
                <app-video-lesson
                  class="add-new add-new-lesson"
                  *ngIf="newLessonType[i] === 'Video'"
                  [(video)]="newVideos[i]"
                  [editMode]="editLessonMode"
                  (cancel)="cancelAddLesson(i)"
                  (save)="saveLesson(i, videoType)"
                ></app-video-lesson>

                <!-- Add Quiz Lesson -->
                <app-quiz-lesson
                  class="add-new add-new-lesson"
                  *ngIf="newLessonType[i] === 'Quiz'"
                  [(quiz)]="newQuizzes[i]"
                  [editMode]="editLessonMode"
                  (cancel)="cancelAddLesson(i)"
                  (save)="saveLesson(i, quizType)"
                ></app-quiz-lesson>
              </ng-container>
              <!--Add lesson-->
              <button
                class="add-lesson-btn"
                *ngIf="!showAddLessonOptions[i]"
                (click)="toggleAddLessonOptions(i)"
              >
                <div class="button-content">
                  <img
                    src="../../../../assets/svg/plus.svg"
                    alt="plus icon"
                    loading="lazy"
                  />
                  Add a lesson
                </div>
              </button>
              <!-- The add lesson options-->
              <div class="add-lesson-actions" *ngIf="showAddLessonOptions[i]">
                <button
                  class="add-lesson-btn"
                  (click)="toggleAddLessonOptions(i)"
                >
                  <img
                    src="../../../../assets/svg/back-arrow.svg"
                    alt="arrow"
                    loading="lazy"
                  />
                </button>
                <button (click)="selectLessonType(i, 'Video')">Video</button>
                <button (click)="selectLessonType(i, 'Quiz')">Quiz</button>
                <button (click)="selectLessonType(i, 'Article')">
                  Article
                </button>
              </div>
            </div>
          </div>
          <app-chapter
            *ngIf="chapter.editMode"
            [chapterName]="chapter.title"
            [editMode]="true"
            (cancel)="toggleEditMode(i)"
            (save)="updateChapterName(i, $event)"
          ></app-chapter>
        </div>
      </div>

      <!--Add new Chapter form-->
      <app-chapter
        class="width100"
        *ngIf="showAddNewChapter"
        [(chapterName)]="newChapterName"
        (cancel)="cancelAddChapter()"
        (save)="saveChapter()"
      ></app-chapter>

      <!--Add new chapter button-->
      <button
        class="add-chapter-btn"
        *ngIf="!showAddNewChapter"
        (click)="showAddNewChapter = true"
      >
        <div class="button-content">
          <img
            src="../../../../assets/svg/plus.svg"
            alt="plus icon"
            loading="lazy"
          />Add a chapter
        </div>
      </button>
    </div>
    <div class="create-course-actions">
      <button class="back-btn" (click)="backTocreateCourse()">Back</button>
      <button class="continue-btn" (click)="submitCourse()">
        Submit Course
      </button>
    </div>
  </div>
  <div class="loading-wrapper" *ngIf="uploadingToDb">
    <div class="book">
      <div class="book__pg-shadow"></div>
      <div class="book__pg"></div>
      <div class="book__pg book__pg--2"></div>
      <div class="book__pg book__pg--3"></div>
      <div class="book__pg book__pg--4"></div>
      <div class="book__pg book__pg--5"></div>
    </div>
  </div>
</div>
