<div class="upload-course-wrapper">
  <div class="upload-course-sec">
    <div class="upload-heading">
      <div class="steps">Step 2 of 3</div>
      <div class="heading">Upload your course</div>
    </div>
    <div class="upload-main">
      <div class="chapters" cdkDropList (cdkDropListDropped)="drop($event)">
        <div
          *ngFor="let chapter of chapters; let i = index"
          class="chapter-lesson"
          cdkDrag
        >
          <div class="chapter-heading">
            <div class="chapter-data">
              <span class="input-title-style">Chapter {{ i + 1 }}:</span>
              <ng-container *ngIf="!chapter.editMode; else editChapterInput">
                {{ chapter.name }}
              </ng-container>
              <ng-template #editChapterInput>
                <input [(ngModel)]="chapter.name" placeholder="Chapter name" />
              </ng-template>
            </div>
            <div class="chapter-actions">
              <button (click)="toggleEditMode(i)">
                <img
                  *ngIf="!this.chapters[i].editMode"
                  src="../../../../assets/svg/edit.svg"
                  alt="edit icon"
                />
                <img
                  *ngIf="this.chapters[i].editMode"
                  src="../../../../assets/svg/tick.svg"
                  alt="save changes icon"
                />
              </button>
              <button>
                <img
                  src="../../../../assets/svg/delete-ico.svg"
                  alt="delete icon"
                  (click)="deleteChapter(i)"
                /></button
              ><button>
                <img
                  src="../../../../assets/svg/menu.svg"
                  alt="collapse icon"
                  (click)="toggleChapterCollapse(i)"
                />
              </button>
            </div>
          </div>
          <div class="chapter-body" *ngIf="!isChapterCollapsed[i]">
            <div
              class="chapter-lessons"
              cdkDropList
              (cdkDropListDropped)="dropLesson($event, i)"
            >
              <div
                *ngFor="let lesson of chapter.lessons; let j = index"
                class="lesson-sec"
                cdkDrag
              >
                <div class="lesson" *ngIf="!lesson.editMode">
                  <div class="lesson-heading">
                    <div class="lesson-data word-wrap">
                      <span class="input-title-style">Lesson {{ j + 1 }}:</span>

                      {{ lesson.title }}
                    </div>
                    <div class="lesson-actions">
                      <button (click)="editLesson(i, j)">
                        <img
                          src="../../../../assets/svg/edit.svg"
                          alt="edit icon"
                        />
                      </button>

                      <button>
                        <img
                          src="../../../../assets/svg/delete-ico.svg"
                          alt="delete icon"
                          (click)="deleteLesson(i, j)"
                        /></button
                      ><button (click)="toggleCollapse(j)">
                        <img
                          src="../../../../assets/svg/menu.svg"
                          alt="collapse icon"
                        />
                      </button>
                    </div>
                  </div>
                  <div class="lesson-body" *ngIf="!isCollapsed[j]">
                    <div *ngIf="lesson.type == articleType">
                      <div class="word-wrap">{{ lesson.content }}</div>
                    </div>
                    <div
                      class="video-wrapper"
                      *ngIf="lesson.type === videoType"
                    >
                      <video
                        [src]="getVideoURL(lesson.videoFile!)"
                        controls
                      ></video>
                    </div>
                    <div *ngIf="lesson.type === quizType">
                      <div *ngFor="let question of lesson.questions">
                        <p class="word-wrap">{{ question.questionText }}</p>
                        <ul>
                          <li
                            class="word-wrap"
                            *ngFor="let choice of question.choices"
                          >
                            {{ choice }}
                          </li>
                        </ul>
                        <p class="word-wrap">
                          Correct Answer: {{ question.correctAnswer }}
                        </p>
                      </div>
                    </div>

                    <div
                      class="attachment"
                      *ngIf="!chapters[i].lessons[j].attachment"
                    >
                      <button (click)="onFileInputClick(i, j)">
                        Add an attachment
                      </button>
                      <input
                        type="file"
                        #fileInput
                        hidden
                        (change)="onFileSelected($event, i, j)"
                      />
                    </div>
                    <div
                      class="uploaded-attachment"
                      *ngIf="chapters[i].lessons[j].attachment"
                    >
                      <span>{{ chapters[i].lessons[j].attachment?.name }}</span>
                      <button (click)="deleteFile(i, j)">
                        <img
                          src="../../../../assets/svg/delete-ico.svg"
                          alt="delete icon"
                        />
                      </button>
                    </div>
                  </div>
                </div>
                <!--Edit Lesson-->
                <app-article-lesson
                  class="add-new add-new-lesson"
                  *ngIf="lesson.editMode && lesson.type == articleType"
                  [article]="lesson"
                  [editMode]="lesson.editMode"
                  (cancel)="cancelEditLesson(i, j)"
                  (save)="saveEditedLesson(i, j, $event)"
                ></app-article-lesson>
                <app-video-lesson
                  class="add-new add-new-lesson"
                  *ngIf="lesson.editMode && lesson.type == videoType"
                  [video]="lesson"
                  [editMode]="lesson.editMode"
                  (cancel)="cancelEditLesson(i, j)"
                  (save)="saveEditedLesson(i, j, $event)"
                ></app-video-lesson>
                <app-quiz-lesson
                  class="add-new add-new-lesson"
                  *ngIf="lesson.editMode && lesson.type == quizType"
                  [quiz]="lesson"
                  [editMode]="lesson.editMode"
                  (cancel)="cancelEditLesson(i, j)"
                  (save)="saveEditedLesson(i, j, $event)"
                  (addQuestion)="addQuestion(i)"
                  (deleteQuestion)="deleteQuestion(i, $event)"
                  (addChoice)="addChoice(i, $event)"
                  (deleteChoice)="
                    deleteChoice(i, $event.question, $event.index)
                  "
                ></app-quiz-lesson>
              </div>

              <!-- Lesson Form -->
              <ng-container *ngIf="showAddNewLesson[i]">
                <!-- Add Article Lesson -->
                <app-article-lesson
                  class="add-new add-new-lesson"
                  *ngIf="newLessonType[i] === 'Article'"
                  [(article)]="newArticles[i]"
                  [editMode]="editLessonMode"
                  (cancel)="cancelAddLesson(i)"
                  (save)="saveLesson(i, articleType)"
                ></app-article-lesson>

                <!-- Add Video Lesson -->
                <app-video-lesson
                  class="add-new add-new-lesson"
                  *ngIf="newLessonType[i] === 'Video'"
                  [(video)]="newVideos[i]"
                  [editMode]="editLessonMode"
                  (cancel)="cancelAddLesson(i)"
                  (save)="saveLesson(i, videoType)"
                ></app-video-lesson>

                <!-- Add Quiz Lesson -->
                <app-quiz-lesson
                  class="add-new add-new-lesson"
                  *ngIf="newLessonType[i] === 'Quiz'"
                  [(quiz)]="newQuizzes[i]"
                  [editMode]="editLessonMode"
                  (cancel)="cancelAddLesson(i)"
                  (save)="saveLesson(i, quizType)"
                  (addQuestion)="addQuestion(i)"
                  (deleteQuestion)="deleteQuestion(i, $event)"
                  (addChoice)="addChoice(i, $event)"
                  (deleteChoice)="
                    deleteChoice(i, $event.question, $event.index)
                  "
                ></app-quiz-lesson>
              </ng-container>
              <!--Add lesson-->
              <button
                class="add-lesson-btn"
                *ngIf="!showAddLessonOptions[i]"
                (click)="toggleAddLessonOptions(i)"
              >
                <div class="button-content">
                  <img src="../../../../assets/svg/plus.svg" alt="plus icon" />
                  Add a lesson
                </div>
              </button>
              <!-- The add lesson options-->
              <div class="add-lesson-actions" *ngIf="showAddLessonOptions[i]">
                <button
                  class="add-lesson-btn"
                  (click)="toggleAddLessonOptions(i)"
                >
                  <img
                    src="../../../../assets/svg/back-arrow.svg"
                    alt="arrow"
                  />
                </button>
                <button (click)="selectLessonType(i, 'Video')">Video</button>
                <button (click)="selectLessonType(i, 'Quiz')">Quiz</button>
                <button (click)="selectLessonType(i, 'Article')">
                  Article
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Add new Chapter form-->
      <div class="add-new" *ngIf="showAddNewChapter">
        <div class="add-new-heading-title">
          <div class="add-new-heading">
            <div class="main-title">Chapter Title</div>
            <div class="delete-content">
              <button (click)="cancelAddChapter()">
                <img src="../../../../assets/svg/x-icon.svg" alt="" />
              </button>
            </div>
          </div>
          <div class="title-data">
            <input
              [(ngModel)]="newChapterName"
              type="text"
              placeholder="Give this chapter a title"
            />
          </div>
        </div>
        <div class="add-new-action">
          <button (click)="saveChapter()">Add</button>
        </div>
      </div>

      <!--Add new chapter button-->
      <button
        class="add-chapter-btn"
        *ngIf="!showAddNewChapter"
        (click)="showAddNewChapter = true"
      >
        <div class="button-content">
          <img src="../../../../assets/svg/plus.svg" alt="plus icon" />Add a
          chapter
        </div>
      </button>
    </div>
    <div class="create-course-actions">
      <button class="back-btn">Back</button>
      <button class="continue-btn">Continue</button>
    </div>
  </div>
</div>
