@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/mixins.scss" as *;
section {
  padding: 88px;
  background-color: $mainColorLight;
}
h2 {
  margin: auto;
  width: fit-content;
  font-size: $fs-24;
  font-weight: 400;
  font-family: $mainFontFamily;
  margin-bottom: 24px;
}

.cards {
  display: flex;
  max-width: 1440px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}

.card {
  border: none;
  background-color: transparent;
}
