<Section>
  <h2>Trusted by</h2>
  <div class="cards">
    <div class="card">
      <img
        src="../../../../assets/svg/harvard.svg"
        alt="harvard logo"
        loading="lazy"
      />
    </div>
    <div class="card">
      <img src="../../../../assets/svg/mit.svg" alt="mit logo" loading="lazy" />
    </div>
    <div class="card">
      <img
        src="../../../../assets/svg/princeton.svg"
        alt="princeton logo"
        loading="lazy"
      />
    </div>
    <div class="card">
      <img
        src="../../../../assets/svg/bristol.svg"
        alt="bristol logo"
        loading="lazy"
      />
    </div>
    <div class="card">
      <img
        src="../../../../assets/svg/cambirage.svg"
        alt="cambirage logo"
        loading="lazy"
      />
    </div>
  </div>
</Section>
