@use "../../../../assets/style/abstracts/mixins.scss" as *;
@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/_placeholders.scss" as *;



/* course hero section */
.course-title{
  @include style-display-column(24px, 2rem);
  background-color: $blackColor;

  .main-title{
    max-width: 844px;
    @include style-font($font-anton,64px,79px,$whiteColor)
  }
  .description{
    max-width: 844px;
    @include style-font($font-cabin,24px,29px,$whiteColor)
  }
}
