@use "../../../../assets/style/abstracts/mixins.scss" as *;
@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/_placeholders.scss" as *;



/* course hero section */
.course-title{
  @include style-display-column(24px, 40px ,0);
  background-color: $blackColor;
  max-width: 1440px;
  margin: 0px auto;
  .main-title{
    max-width: 820px;
    @include style-font($font-anton,64px,79px,$whiteColor)
  }
  .description{
    max-width: 820px;
    @include style-font($font-cabin,24px,29px,$whiteColor)
  }
}





/* Skeleton Loading Styles */
.main-title.skeleton {
  height: 8rem;
}

.description.skeleton {
  height: 3rem;
}

@media screen and (max-width: 1600px){
  .course-title{
    margin: 0 40px;
  }
}
@media screen and (max-width: 600px){
  .main-title{
    font-size: 48px !important;
    line-height: 64px !important;
  }
}
