<div *ngIf="loading; else content" class="breadcrumb">
  <div class="breadcrumb__item skeleton"></div>
</div>

<ng-template #content>
  <nav aria-label="breadcrumb" class="breadcrumb">
    <!-- List to hold breadcrumb items -->
    <ol>
      <li class="pointer breadcrumb__item breadcrumb__item--active" routerLink="/category/{{ categoryId }}">
        <a class="breadcrumb__link">{{
          categoryName
        }}</a>
        <!-- Breadcrumb separator (SVG) -->
        <div class="breadcrumb__separator">
          <img
            src="../../assets/svg/breadcrum-vector.svg"
            alt="arrow"
            loading="lazy"
          />
        </div>
      </li>
      <li class="pointer breadcrumb__item" [routerLink]='"/category/" + subCategoryId'>
        <a class="breadcrumb__link">{{ subCategoryName }}</a>
        <!-- Breadcrumb separator (SVG) -->
        <div class="breadcrumb__separator">
          <img
            src="../../assets/svg/breadcrum-vector.svg"
            alt="arrow"
            loading="lazy"
          />
        </div>
      </li>
      <li class="pointer breadcrumb__item" [routerLink]='"/category/" + topicId'>
        <a class="breadcrumb__link">{{ topicName }}</a>
      </li>
    </ol>
  </nav>
</ng-template>
