@use "../../../../assets/style/abstracts/mixins.scss" as *;
@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/_placeholders.scss" as *;


/* breadcrumb navigation */
.breadcrumb {
  background-color: $secondaryColor;
  color: $blackColor;
  padding: 1rem 2rem;

  ol {
    margin: 0;
    @extend %flex-row;
  }
  &__item {
    @extend %flex-row;
    &:not(:last-child) {
      margin-right: 1.2rem;
    }
    // Additional styles for the active breadcrumb item
    &--active .breadcrumb__link {
      @include style-font($font-anton,24px,124.04%,$blackColor);
      font-weight:bold
    }
  }
  // Styles for breadcrumb separator
  &__separator {
    margin-left: 1.2rem;
  }
  // Styles for breadcrumb links
   
    &__link:not(:first-child){
      text-decoration: none;
      color: inherit;
      cursor: default;
    }
    // &:hover {
    //   font-weight: bold;
    // }
  
}



/* Skeleton styles */
.breadcrumb__item.skeleton {
  height: 2.5rem;
}

