@use "../../../../assets/style/abstracts/mixins.scss" as *;
@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/placeholders" as *;

.order-container {
  background-color: #FDF6EB;

  .course-rating {
    @include style-display-row(5.6px, 0);
    width: 10rem;
  }

  h1 {
    @include style-font('Cabin', 15, 124.04%, $blackColor, 600);
    margin-bottom: 0;
    font-size: 24px;
    margin-bottom: 1rem
  }

  .order-course {
    @extend %flex-row;
    box-sizing: border-box;
    padding: 24px;
    gap: 10px;
    background: $whiteColor;
    @extend %simple-black-border;
    order: 1;
    margin-top: 1rem;

    .image {
      .order-img {
        @extend %simple-black-border;
        width: 15rem;
        height: 12rem;
      }
    }

  }

  .details {
    width: 100%;

    .course-instructor-price {
      @include style-display-row-center(0, 0);
      justify-content: space-between;
      width: 100%;

      .course-instructor {
        @include style-display-row-center(16px, 0);

        .instructor-picture {
          img {
            @include make-avatar(42px, 42px);
          }
        }

        .instructor-name {
          @include style-font('Cabin', 16px, 19px, $darkGreyColor, 700);
        }

      }

      .course-price {
        @include style-display-column(10px, 15px, 24px);
        background: $greenColor;
        border: 2px solid $blackColor;
        border-radius: 33px;
        @include style-font('Cabin', 16px, 19px, $darkGreyColor, 700);
      }

      .use-coupon{
        display: flex;
        align-items: flex-start;
      }
    }
  }
}