<!-- Error Message -->
<div *ngIf="errorMessage" class="error-message">
  <img
    src="../../assets/svg/Computer troubleshooting-rafiki.svg"
    alt="Error Icon"
    class="error-message-photo"
  />
  <p>{{ errorMessage }}</p>
</div>

<div class="course-header-wrapper" *ngIf="!errorMessage">
  <!--Course Title-->
  <app-course-title
    [title]="course.title"
    [description]="course.shortDescription"
    [loading]="loading"
  ></app-course-title>

  <!-- Breadcrumb navigation component -->
  <app-breadcrumb-navigation
    [categoryName]="course.categoryName"
    [subCategoryName]="course.subCategoryName"
    [topicName]="course.topicName"
    [loading]="loading"
  >
  </app-breadcrumb-navigation>

  <!--Course Card-->
  <app-course-card
    class="course-main-card"
    [course]="course"
    [studentInCourse]="studentInCourse"
    [loading]="loading"
  ></app-course-card>
</div>
<div class="course-content-wrapper" *ngIf="!errorMessage">
  <!-- What You Will Learn Card -->
  <app-learn-card [course]="course" [loading]="loading"></app-learn-card>

  <!--Course Excercise Card-->
  <app-excercise-card [loading]="loading"></app-excercise-card>

  <!--Course Content-->
  <app-course-content
    [course]="course"
    [chapters]="chapters"
    [loading]="loading"
  ></app-course-content>

  <!-- Who Should Enroll Card -->
  <app-enroll-card
    [enrollmentItems]="course.enrollmentItems"
    [loading]="loading"
  ></app-enroll-card>

  <!-- Course Requirements Card -->
  <app-requirements-card
    [courseRequirements]="course.courseRequirements"
    [loading]="loading"
  ></app-requirements-card>

  <!--Student also bought-->
  <other-courses-card
    [title]="'Students also bought'"
    [courses]="relatedCourses"
    [coursesTotalCount]="relatedCoursesTotalCount"
    [pageNumber]="pageNumber"
    [pageSize]="pageSize"
    (loadMore)="loadMoreCourses()"
    [loading]="loading"
  >
  </other-courses-card>

  <!--Instructor details card-->
  <app-instructor-details
    [course]="course"
    [loading]="loading"
  ></app-instructor-details>

  <!--Instructor other courses-->
  <other-courses-card
    [title]="'Also taught by ' + course.instructorName"
    [courses]="instructorCourses"
    [coursesTotalCount]="instructorCoursesTotalCount"
    [pageNumber]="taughtByInstructorPageNumber"
    [pageSize]="pageSize"
    (loadMore)="loadMoreInstructorCourses()"
    [loading]="loading"
  >
  </other-courses-card>

  <!--Course Feedback section-->
  <app-student-feedback [loading]="loading"></app-student-feedback>
</div>
