@use "../../assets/style/abstracts/variables.scss" as *;
@use "../../assets/style/abstracts/mixins.scss" as *;


/* Common styles for card */
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;

  max-width: 820px;
  background: $whiteColor;
  border: 1px solid $blackColor;
  box-shadow: 5px 5px 0px 1px $blackColor;
}

.course-card{

  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;


  background: $mainColorLight;
  border: 1px solid $blackColor;
}
/* Card Titles */
.card-title {
  font-family: 'Anton', sans-serif;
  font-size: 32px;
  line-height: 124.04%;
  color: $blackColor;
}

/* Common styles for card-items */
.card-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.card-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;


}

.card-item-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $darkGreyColor;
  margin: 0;
  padding: 0;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: $blackColor;
  color: $whiteColor;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;


  a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    svg {
      margin-left: .5rem;
    }
  }

  &__brand-logo {
    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      svg{
        position: relative;
        left: 14px;
      }
    }
    &__brand-name{
      font-family: 'Anton';
      font-size: 36px;
      line-height: 124.04%;
    }
  }

  &__menu-items {
    list-style-type: none;
    display: flex;
    margin:0;
    li {
      margin: 0 1rem;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 1.5rem;
    }





    & .navbar__register-btn {
      .register-button {
        @include custom-button($greenColor,$blackColor,$whiteColor,43px);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;

    &__menu-items {
      flex-direction: column;

      li {
        margin: .5rem 0;
      }
    }

    &__actions {
      flex-direction: column;

      & .navbar__login-link, .navbar__register-btn {
        margin: .5rem 0;
      }
    }
  }
}

/* course hero section */
.course-title{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 24px;

  background-color: $blackColor;
  color: $whiteColor;


  .main-title{
    max-width: 844px;

    font-family: 'Anton';
    font-size: 64px;
    line-height: 79px;

    color: $whiteColor;
  }
  .description{
    max-width: 844px;

    font-size: 24px;
    line-height: 29px;

    color: $whiteColor;
  }
}

/* breadcrumb navigation */
.breadcrumb {
  background-color: $secondaryColor;
  color: $blackColor;
  padding: 1rem 2rem;

  ol {
    margin: 0;
    display: flex;
    align-items: center;
  }
  &__item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 1.2rem;
    }
    // Additional styles for the active breadcrumb item
    &--active .breadcrumb__link {
      font-weight: bold;
      font-family: 'Anton';
      font-size: 24px;
      line-height: 124.04%;
    }
  }
  // Styles for breadcrumb separator
  &__separator {
    margin-left: 1.2rem;
  }
  // Styles for breadcrumb links
  &__link {
    text-decoration: none;
    color: inherit;

    &:hover {
      font-weight: bold;
    }
  }
}


/* course card */
.course-details-card{
  @extend .course-card;

  position: relative;
  left: 1000px;
  top: -486px;

  max-width: 500px;


  & .course-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    & .course-rating {
      display: flex;
      align-items: flex-start;
      padding: 0px;
      gap: 5.6px;
    }
  }

  & .course-students{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    & .student-pictures{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      max-height: 24px;
      & img{
        width: 24px;
        height: 24px;
        border: 2px solid #181818;
        border-radius: 50%;
        margin-left: -6px;
      }
    }

    & .enrollments-number{
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;

      color: #303030;
    }
  }

  & .course-action{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    & .add-to-cart{
      @include custom-button($greenColor,$blackColor,$whiteColor,63px);
      width: 100%;
    }
    .add-to-wishlist{
      @include custom-button($whiteColor,$blackColor,$blackColor,63px);
      width: 100%;
    }
  }

  & .course-details{
    display: flex;
    flex-direction: column;
    & h2{
      font-family: 'Anton';
      font-size: 24px;
      line-height: 36px;
      color: $darkGreyColor;
    }

    & .course-details-items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      gap: 16px;

      list-style: none;
      margin: 0;

      & li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 16px;

        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: $darkGreyColor;
      }
    }
  }


  & .course-instructor-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & .course-instructor {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 16px;

      & .instructor-picture {
        width: 42px;
        height: 42px;

        & img {
          width: 100%;
          height: 100%;
          border: 2px solid #181818;
          border-radius: 50%;
        }
      }

      & .instructor-name{
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
      }

    }

    & .course-price{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 24px;
      gap: 10px;

      background: $whiteColor;
      border: 2px solid $blackColor;
      border-radius: 33px;


      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

/*  what you will learn card */
.learn-card {
  @extend .card;
  position: relative;

  .learn-items {
    position: relative;
    margin-bottom: 20px;

    .learn-item-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 24px;
      width: 100%;

      .learn-item {
        flex: 1;
        font-size: 20px;
        line-height: 24px;
        max-width: 374px;

        span {
          &:first-child {
            font-weight: 700;
          }
        }

        &.hidden {
          display: none;
        }
      }
    }

    .gradient-overlay {
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
      pointer-events: none;
    }
  }

  .read-more {
    position: absolute;
    bottom: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    z-index: 2;
    cursor: pointer;
    background: none;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $darkGreyColor;
  }
}

/* Exercise Demo */
.exercise-demo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  width: 820px;
  background: $secondaryColor;
  border: 2px solid $blackColor;

  img {
    margin-right: 24px;
  }

  .exercise-demo-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
      font-family: 'Anton';
      font-size: 32px;
      line-height: 124.04%;
      color: $blackColor;
      margin-bottom: 24px;
    }

    p {
      font-size: 20px;
      line-height: 24px;
      color: $darkGreyColor;
      margin-bottom: 24px;
    }

    .see-demo{
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-decoration-line: underline;
      color: $darkGreyColor;
    }
  }
}

/* Who Should Enroll Card */
.enroll-card {
  @extend .card;

  .enroll-items {
    @extend .card-items;
    .enroll-item{
      @extend .card-item;
      p {
        @extend .card-item-p;
      }
    }
  }
}

/* Course Requirements Card */
.requirements-card {
  @extend .card;

  .requirements-items {
    @extend .card-items;

    .requirements-item {
      p {
      @extend .card-item-p;
        span {
          font-weight: 700;
        }
      }
    }
  }
}


/* Student also bought */

.student-also-bought-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  h1{
    font-family: 'Anton';
    font-size: 48px;
    line-height: 124.04%;
    color: $blackColor;
  }
  .student-also-bought-courses{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    .student-also-bought-courses-items{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 24px;

      .suggested-course-card{
        @extend .course-card;

        & .course-info{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          gap: 16px;
          & .course-rating {
            display: flex;
            align-items: flex-start;
            padding: 0px;
            gap: 5.6px;
          }
        }

        & .course-students{
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 8px;
          & .student-pictures{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            max-height: 24px;
            & img{
              width: 24px;
              height: 24px;
              border: 2px solid #181818;
              border-radius: 50%;
              margin-left: -6px;
            }
          }

          & .enrollments-number{
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;

            color: #303030;
          }


        }
        & .course-instructor-price{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          & .course-instructor {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 16px;

            & .instructor-picture {
              width: 42px;
              height: 42px;

              & img {
                width: 100%;
                height: 100%;
                border: 2px solid #181818;
                border-radius: 50%;
              }
            }

            & .instructor-name{
              font-weight: 700;
              font-size: 16px;
              line-height: 19px;
            }

          }

          & .course-price{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 15px 24px;
            gap: 10px;

            background: $greenColor;
            border: 2px solid $blackColor;
            border-radius: 33px;


            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
    }

    .view-more-btn{
      @include custom-button($greenColor,$blackColor,$blackColor,43px);
    }
}
}
/* footer */
































