@use "../../assets/style/abstracts/mixins.scss" as *;
@use "../../assets/style/abstracts/variables.scss" as *;
@use "../../assets/style/abstracts/_placeholders.scss" as *;


.course-header-wrapper{
  position: relative;
}
.course-main-card{
  position: absolute;
  right: 40px;
  top: 42px;
}
.course-content-wrapper{
  @include style-display-column(48px, 0);
  margin:40px ;
}

app-course-content{
  max-width: 820px;
}
.error-message {
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include style-font($font-cabin, 24px, 32px, #721c24,400);
  .error-message-photo{
    width: 80vh;
    object-fit: cover;
  }
}


