@use "../../assets/style/abstracts/variables.scss" as *;
@use "../../assets/style/abstracts/mixins.scss" as *;
@use "../../assets/style/abstracts/_placeholders.scss" as *;

/* Nav bar */

// .navbar {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 2rem;
//   background-color: $blackColor;
//   color: $whiteColor;
//   font-weight: 400;
//   font-size: 24px;
//   line-height: 29px;


//   a {
//     display: flex;
//     align-items: center;
//     color: inherit;
//     text-decoration: none;
//     svg {
//       margin-left: .5rem;
//     }
//   }

//   &__menu-items {
//     list-style-type: none;
//     display: flex;
//     margin:0;
//     li {
//       margin: 0 1rem;
//       a {
//         color: inherit;
//         text-decoration: none;
//       }
//     }
//   }

//   &__actions {
//     display: flex;
//     align-items: center;

//     & > *:not(:last-child) {
//       margin-right: 1.5rem;
//     }





//     & .navbar__register-btn {
//       .register-button {
//         @include custom-button($greenColor,$blackColor,$whiteColor,43px);
//       }
//     }
//   }
// }

// @media screen and (max-width: 768px) {
//   .navbar {
//     flex-direction: column;

//     &__menu-items {
//       flex-direction: column;

//       li {
//         margin: .5rem 0;
//       }
//     }

//     &__actions {
//       flex-direction: column;

//       & .navbar__login-link, .navbar__register-btn {
//         margin: .5rem 0;
//       }
//     }
//   }
// }

/* course hero section */
.course-title{
  @include style-display-column(24px, 2rem);
  background-color: $blackColor;

  .main-title{
    max-width: 844px;
    @include style-font($font-anton,64px,79px,$whiteColor)
  }
  .description{
    max-width: 844px;
    @include style-font($font-cabin,24px,29px,$whiteColor)
  }
}

/* breadcrumb navigation */
.breadcrumb {
  background-color: $secondaryColor;
  color: $blackColor;
  padding: 1rem 2rem;

  ol {
    margin: 0;
    @extend %flex-row;
  }
  &__item {
    @extend %flex-row;
    &:not(:last-child) {
      margin-right: 1.2rem;
    }
    // Additional styles for the active breadcrumb item
    &--active .breadcrumb__link {
      @include style-font($font-anton,24px,124.04%,$blackColor);
      font-weight:bold
    }
  }
  // Styles for breadcrumb separator
  &__separator {
    margin-left: 1.2rem;
  }
  // Styles for breadcrumb links
  &__link {
    text-decoration: none;
    color: inherit;

    &:hover {
      font-weight: bold;
    }
  }
}


/* course card */
.course-details-card{
  @include course-card;
  // position: relative;
  // left: 1000px;
  // top: -486px;
  max-width: 500px;

  .course-picture img{
    max-width: 100%;
    height: 225px;
    object-fit: cover;
    }
  .course-info{
    @include style-display-column(16px, 0);

    .course-rating {
      @include style-display-row(5.6px, 0);
    }
  }
  .course-students{
    @include style-display-row-center(8px, 0);
    .student-pictures{
      @include style-display-row(0 , 0);
      max-height: 24px;
      img{
        @include make-avatar(24px, 24px);
        margin-left: -6px;
      }
    }

    .enrollments-number{
      @include style-font($font-cabin, 16px, 19px, $darkGreyColor,700);
    }
  }
  .course-action{
      @include style-display-column(16px, 0);
      width: 100%;
      .add-to-cart{
        @include custom-button($greenColor,$blackColor,$whiteColor,63px);
        width: 100%;
      }
      .add-to-wishlist{
        @include custom-button($whiteColor,$blackColor,$blackColor,63px);
        width: 100%;
      }
    }
  .course-details{
    @extend %flex-column;
    h2{
      @include style-font($font-anton,24px, 36px, $darkGreyColor);
    }

    .course-details-items {
      @include style-display-column(16px, 0);
      list-style: none;
      margin: 0;

      & li {
        @include style-display-row-center(16px, 0) ;
        @include style-font($font-cabin,20px, 24px, $darkGreyColor,700);
      }
    }
  }


  .course-instructor-price{
    @include style-display-row-center(0 , 0);
    justify-content: space-between;
    width: 100%;

    .course-instructor {
      @include style-display-row-center(16px, 0);
      .instructor-picture {
        img {
          @include make-avatar(42px, 42px);
          overflow: hidden;
        }
      }
      .instructor-name{
        @include style-font($font-cabin,16px, 19px, $darkGreyColor,700);
      }

    }

    .course-price{
      @include style-display-column(10px, 15px, 24px);

      background: $whiteColor;
      border: 2px solid $blackColor;
      border-radius: 33px;
      @include style-font($font-cabin,16px, 19px, $darkGreyColor,700);
    }
  }
}
/*  what you will learn card */
.learn-card {
  @include details-card(820px);
  position: relative;

  .learn-items {
    position: relative;
    margin-bottom: 20px;

    .learn-item-row {
      @include style-display-row(24px, 0);
      justify-content: space-between;
      width: 100%;

      .learn-item {
        flex: 1;
        font-size: 20px;
        line-height: 24px;
        max-width: 374px;

        span {
          &:first-child {
            font-weight: 700;
          }
        }

        &.hidden {
          display: none;
        }
      }
    }

    .gradient-overlay {
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
      pointer-events: none;
    }
  }

  .read-more {
    position: absolute;
    bottom: 22px;

    @include style-display-row-center(8px, 0);
    z-index: 2;
    cursor: pointer;
    background: none;
    border: none;

    @include style-font($font-cabin, 16px,16px,$darkGreyColor, 700)
  }
}
/* Exercise Demo */
.exercise-demo {
  @include style-display-row-center(0 , 24px);
  justify-content: flex-start;
  @include style-card(820px, $secondaryColor, $blackColor);

  img {
    margin-right: 24px;
  }

  .exercise-demo-content {
    @extend %flex-column;
    justify-content: flex-start;
    h2 {
      @include style-font($font-anton, 32px,124.04%,$blackColor, 700);
      margin-bottom: 24px;
    }

    p {
      @include style-font($font-cabin, 20px, 24px,$darkGreyColor);
      margin-bottom: 24px;
    }

    .see-demo{
      text-decoration-line: underline;
      @include style-font($font-cabin, 20px, 24px,$darkGreyColor, 700);
    }
  }
}

/*  course content */
.course-content-section{
  @include style-display-column(32px, 0);
  max-width: 820px;
  .ellipse-seperator{
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background: $blackColor;
  }
  h1{
    @include style-font($font-anton, 48px, 124.04%, $blackColor, 400);
  }
  .course-content-details{
    @include style-display-row-center(32px, 0);

    .course-content-details-item{
      @include style-display-row-center(16px, 0);

    }

  }

  .course-content-modules{
    @include style-display-column(0, 0);
    .course-chapter-heading{
      @include style-display-row-center(24px, 24px, 32px);
      width: 820px;
      justify-content: space-between;
      background: $mainColorLight;
      border: 1px solid $blackColor;
      .course-chapter-name{
        @include style-display-row-center(8px, 0);
      }
      .chapter-stats{
        @include style-display-row-center(10px, 0);
      }
    }
    .course-lessons{
      .course-lesson{
        @include style-display-row-center(10px, 0px,  32px);
        width: 100%;
        justify-content: space-between;

        background: $whiteColor;
        border: 1px solid $blackColor;
        .lesson-main-data{
          @include style-display-column(2px, 24px,  32px);
          .lesson-heading{
            @include style-display-row-center(10px, 0);
            h3{
              margin: 0;
            }
          }
          .lesson-description{
            margin-left: 34px;
            @include style-font($font-cabin,20px,24px,$darkGreyColor)
          }
        }
      }
    }
  }
}


/* Who Should Enroll Card */
.enroll-card {
  @include details-card(820px);

  .enroll-items {
    @include style-display-column(16px, 0);
    .enroll-item{
      @include style-display-row(16px, 0);
      p {
        @extend %paragraph;
      }
    }
  }
}
/* Course Requirements Card */
.requirements-card {
  @include details-card(820px);

  .requirements-items {
    @include style-display-column(16px, 0);

    .requirements-item {
      p {
      @extend %paragraph;
        span {
          font-weight: 700;
        }
      }
    }
  }
}
/* Student also bought section */
/* Instructor other courses section */
.courses-section{
  @include style-display-column(32px, 0);
  max-width: 828px;

  h1{
    @include style-font($font-anton,48px,124.04%,$blackColor)
  }
  .suggested-courses-section{
    @include style-display-column(32px, 0);
    align-items: center;
    .course-cards{
      @include style-display-row(24px, 0);
      flex-wrap: wrap;

      .course-card{
        @include course-card;
        width: 402px;

        .course-image{
          width: 100%;
          height: 225px;
          object-fit: cover;
        }

        .course-info{
          @include style-display-column(16px, 0);
          .course-rating {
            @include style-display-row(5.6px, 0);
          }

          .course-name{
            @include style-font($font-anton,32px,124.04%,$blackColor)
          }
        }

        .course-students{
          @include style-display-row-center(8px, 0);

          .student-pictures{
            @include style-display-row(0, 0);
            max-height: 24px;
            img{
              @include make-avatar(24px, 24px);
              margin-left: -6px;
            }
          }

          .enrollments-number{
            @include style-font($font-cabin, 16px, 19px, $darkGreyColor,700);
          }


        }
        .course-instructor-price{
          @include style-display-row-center(0 , 0);
    justify-content: space-between;
    width: 100%;

          .course-instructor {
            @include style-display-row-center(16px, 0);

            .instructor-picture {
              img {
                @include make-avatar(42px, 42px);
              }
            }

            .instructor-name{
              @include style-font($font-cabin,16px, 19px, $darkGreyColor,700);
            }

          }

          .course-price{
            @include style-display-column(10px, 15px, 24px);


            background: $greenColor;
            border: 2px solid $blackColor;
            border-radius: 33px;


            @include style-font($font-cabin,16px, 19px, $darkGreyColor,700);
          }
        }
      }
    }

    .view-more-btn{
      @include custom-button($greenColor,$blackColor,$blackColor,43px);
    }
}
}
/* Instructor details card */
.instructor-details-card{
  @include style-display-row(32px , 40px, 32px);

  max-width: 828px;

  background: $secondaryColor;
  border: 1px solid $blackColor;

  .instructor-avatar{
    width: 116px;
    height: 116px;

    border: 2px solid $blackColor;
    border-radius: 1000px;
  }

  .instructor-info-details{
    @include style-display-column(8px, 0);

    .instructor-main-info{
      @include style-display-column(4px, 0);


      .instructor-rating{
        @include style-display-row-center(8px, 0);

        span{
            @include style-font($font-cabin,16px, 19px, $darkGreyColor,700);
        }
      }
      .instructor-name{
        @include style-font($font-anton,24px,124.04%,$blackColor)
      }
    }
    .instructor-additional-info{
      @include style-display-column(8px, 0);

      color: $darkGreyColor;
      @include style-font($font-cabin,20px, 24px, $darkGreyColor,400);


      .instructor-stats{
        @include style-display-row(16px, 0);
        @include style-font($font-cabin,16px, 19px, $darkGreyColor,700);
      }
    }
  }
}

/* Student feedback section */
.student-feedback-section{
  @include style-display-column(32px , 0);
  align-items: center;
  max-width: 828px;

  .students-feedback{
    @include style-display-column(16px , 0);
    align-items: center;
    max-width: 828px;


    .student-feedback-card{
      @include style-display-row(10px , 24px);

      background: $whiteColor;
      border: 1px solid $blackColor;

      .student-image{
        min-width: 187px;
        height: 240px;
        border: 1px solid $blackColor;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .student-feedback{
        @include style-display-column(32px , 0);

        .student-review{
          @include style-display-column(16px , 0);
          .student-comment{
            @include style-font($font-cabin,20px, 24px, $darkGreyColor,400);
          }
          .student-rating{
            @include style-display-column(8px , 0);

            .student-name{
              @include style-font($font-cabin,16px, 19px, $darkGreyColor,700);
            }

            .student-course-rating{
              @include style-display-row(5.6px , 0);
            }
          }

        }

        .student-course{
          @include style-display-column(10px , 14px, 24px);

          max-width: 515px;

          background: $mainColorLight;
          border: 1px solid $blackColor;
          border-radius: 33px;
          @include style-font($font-cabin,16px, 19px, $darkGreyColor,700);
        }

      }
    }
  }

  .view-more-btn{
    @include custom-button($greenColor,$blackColor,$blackColor,43px);
  }
}
/* footer */
.footer{
  @include style-display-column(10px ,0);
  padding: 88px 40px 24px 40px;

  background: $mainColorLight;

  .footer-section{
    width: 100%;
    @include style-display-row(0 ,0);
    justify-content: space-between;


    .footer-logo{
      @include style-display-column(16px ,0);
      max-width: 328px;

      .logo-text{
        @include style-font($font-anton,48px,124.04%,$blackColor);
      }
      .logo-desc{
        margin: 0;
        @include style-font($font-cabin,24px, 29px, $darkGreyColor,400);
      }
    }

    .footer-navigation{
      @include style-display-column(8px ,0);
      @include style-font($font-cabin,24px, 29px, $darkGreyColor,400);


      h2{
        font-weight: 700;
      }
      .nav-item{
        text-decoration: none;
        @include style-font($font-cabin,24px, 29px, $darkGreyColor,400);


        &:hover{
          color: $blackColor;
          font-weight: bold;
        }
      }
    }
  }
  .footer-separator{
    width: 100%;
    border: 1px solid $darkGreyColor;
  }

  .footer-copyright{
    @include style-font($font-cabin,16px, 19px, $darkGreyColor,400);
    p{
      margin: 0;
    }
  }
}

