@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixins.scss" as *;

%flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

%flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}



%main-heading{
  font-family: 'Anton', sans-serif;
  font-size: 32px;
  line-height: 124.04%;
  color: $blackColor;
}

%paragraph{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $darkGreyColor;
  margin: 0;
  padding: 0;
}

%simple-black-border{
  border:  1px solid $blackColor;
}

.mt-100 {
  margin-top: 100px;
}
.mb-100 {
  margin-bottom: 100px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.py-75 {
  padding-top: 75px;
  padding-bottom: 75px;
}
.pt-75 {
  padding-top: 75px;
}
.pb-75 {
  padding-bottom: 75px;
}

.bg-mainColorLight {
  background-color:  $mainColorLight;
}

.bg-greenColor {
  background-color:  $greenColor;
}

.bg-secondaryColor {
  background-color:  $secondaryColor;
}

.bg-lightPurpleColor {
  background-color: $lightPurpleColor;
}

.bg-whiteColor {
  background-color: $whiteColor;
}

@media (min-width: 992px) {
  .px-lg-40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}
