@use "../abstracts/variables.scss" as *;
@use "../abstracts/placeholders.scss" as *;

// Mixin for custom buttons
@mixin custom-button($background, $forground, $shadowColor, $paddingX) {
  font-size: 1.5rem;
  color: $forground;
  padding: 16px $paddingX;
  border: 1px solid $blackColor;
  background: $background;
  box-shadow: 5px 5px $shadowColor, 5px 5px 0px 1px $blackColor;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: $blackColor;

  &:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }
}

@mixin custom-header {
  font-size: 1.6rem;
  padding: 6px 28px;
  border: 1px solid black;
  background-color: #fbe6e9;
  box-shadow: -3px -3px black;
  border-radius: 50px;
  font-weight: 400;
  margin-bottom: 10px;
  width: fit-content;
}


