$whiteColor: #ffffff;
$blackColor: #181818;
$darkGreyColor: #303030;
$greyColor: #737373;
$mainColorLight: #fdf6eb;
$secondaryColor: #fbe6e9;
$greenColor: #ade2bf;
$secondaryBgColor: #f4f7f8;
$lightPurpleColor: #d8d6fb;
$succes-color: #619c76;
$error-color: #DD160C;


$fs-64: 64px;
$fs-48: 48px;
$fs-36: 36px;
$fs-32: 32px;
$fs-24: 24px;

$font-anton: "Anton", sans-serif;
$font-cabin: "Cabin", sans-serif;
$mainFontFamily: "Anton", sans-serif;
$secondaryFontFamily: "Cabin", "sans-serif";

$primary-padding: 24px;
$primary-gap: 24px;
$card-border: 1px solid $blackColor;
$heading-font-primary: Anton, sans-serif;
$primary-line-height: 60px;
$secondary-line-height: 24px;
