$whiteColor: #FFFFFF;
$blackColor: #181818;
$darkGreyColor: #303030;
$mainColorLight: #FDF6EB;
$secondaryColor: #FBE6E9;
$greenColor: #ADE2BF;
$secondaryBgColor: #f4f7f8;
$lightPurpleColor: #D8D6FB;

$fs-64: 64px;
$fs-48: 48px;
$fs-36: 36px;
$fs-32: 32px;
$fs-24: 24px;
