<div class="instructor-details-card">
  <div class="course-picture">
    <img [src]="instructor[0].profilePicture" alt="instructor image" />
  </div>
  <div class="course-info">
    <div class="course-rating">
      <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
      <span> {{ instructor[0].avgRating }} Instructor Rating</span>
    </div>
    <div class="course-students">
      <div class="enrollments-number">
        {{ instructor[0].noOfStudents }} Students |
        {{ instructor[0].noOfCources }} Courses
      </div>
    </div>
  </div>
  <div class="instructor-action" *ngIf="accounts.length != 0">
    <button
      class="website"
      *ngFor="let account of accounts; let i = index"
      (click)="redirectToLink(i)"
    >
      {{ account.accountName }}
    </button>
  </div>
</div>
