<section class="h-100 py-75 bg-mainColorLight">
  <div class="container-fluid">
    <div class="forget-password-container m-auto bg-whiteColor">
      <h2>Forget Password</h2>
      <form (submit)="forgetPassword($event, submit)" [formGroup]="this.forgetPasswordForm">
        <div class="form-outline mb-4">
          <input type="email" placeholder="Email" formControlName="Email" [readOnly]="load"/>
        </div>
        <div *ngIf="Email?.invalid && Email?.touched" style="color: red; font-size: 15px; margin-top: -20px;" class="mb-1">
            <span *ngIf="Email?.errors?.['pattern']">Invalid e-mail</span>
            <span *ngIf="Email?.errors?.['required']">E-mail is required</span>
        </div>
        <div class="row mb-4">
          <div class="col">
            <a routerLink="/login" class="login">Login</a>
          </div>
        </div>
        <button #submit type="submit" class="forget-password w-100">
          <span *ngIf="!load">Forget Password</span>
          <span *ngIf="load">Send</span>
        </button>
      </form>
    </div>
  </div>
</section>
