<section>
  <div class="container">
    <div class="info">
      <h2>Unleash Your Expertise,<br />Ignite Minds</h2>
      <p>
        Join our community of trailblazing instructors and shape the future of
        learning
      </p>
      <button routerLink="/instructorRegister">Get Started</button>
    </div>
    <div class="image">
      <img
        class="alexander"
        src="../../../../assets/svg/homeInstructorHeroSection/alexander-hipp-iEEBWgY_6lA-unsplash 1.svg"
        alt="hero image"
        loading="lazy"
      />
      <img
        class="bird"
        src="../../../../assets/svg/homeInstructorHeroSection/bird.svg"
        alt="bird"
        loading="lazy"
      />

      <img
        src="../../../../assets/svg/homeInstructorHeroSection/blackstar.svg"
        alt="black star"
        class="black-star"
        loading="lazy"
      />
      <img
        src="../../../../assets/svg/homeInstructorHeroSection/check.svg"
        alt=""
        class="check"
        loading="lazy"
      />
      <img
        src="../../../../assets/svg/homeInstructorHeroSection/greenrectangle.svg"
        alt=""
        class="green-rec"
        loading="lazy"
      />
      <img
        src="../../../../assets/svg/homeInstructorHeroSection/lightorange.svg"
        alt=""
        class="light-orange"
        loading="lazy"
      />
      <img
        src="../../../../assets/svg/homeInstructorHeroSection/purple.svg"
        alt=""
        class="purple-rec"
        loading="lazy"
      />
      <img
        src="../../../../assets/svg/homeInstructorHeroSection/purpleelipse.svg"
        alt=""
        class="purple-elip"
        loading="lazy"
      />
      <img
        src="../../../../assets/svg/homeInstructorHeroSection/arrow.svg"
        alt=""
        class="arrow"
        loading="lazy"
      />
      <img
        src="../../../../assets/svg/homeInstructorHeroSection/greater.svg"
        alt=""
        class="greater"
        loading="lazy"
      />
    </div>
  </div>
</section>
