<div class="chart-wrapper">
  <h1>Chart Title</h1>
  <div class="course-choice">
    <select name="course" id="" (change)="onCourseIdChange($event)">
      <option value="null" disabled selected hidden>Select Course</option>
      <option value="{{ course.id }}" *ngFor="let course of instructorCourses">
        {{ course.title }}
      </option>
    </select>
  </div>
  <div class="hour-choice">
    <select name="hour" id="" (change)="onStatusChange($event)">
      <option value="Hours" selected>Hours</option>
      <option value="Days">Days</option>
      <option value="Months">Months</option>
    </select>
  </div>
</div>
<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [stroke]="chartOptions.stroke"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [grid]="chartOptions.grid"
  ></apx-chart>
</div>
<!-- [fill]="chartOptions.fill" -->
<!-- [title]="chartOptions.title" [markers]="chartOptions.markers" -->
