@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/mixins.scss" as *;
@use "../../../../assets/style/abstracts/placeholders.scss" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $mainFontFamily;
}

.Vision-section {
  background-color: $secondaryColor;
}
.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

@media screen and (min-width: 768px) {
  .parent {
    grid-template-columns: 1fr 3fr;
  }
}
.child-one > span {
  @include custom-header;
  background-color: $mainColorLight;
}

.child-two-child {
  border: 1px solid $blackColor;
  margin-bottom: 8px;
  padding: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: row wrap;
  background-color: $whiteColor;
}
.child-two-child div {
  width: 75%;
}
.vision-statements{
  @include style-display-column (24px , 0);
  .vision-statements-heading{
    margin: 0;
    line-height: 124.037%;
  }
  .vision-statements-description{
    width: 100%;
    @include style-display-column (16px , 0);
    p{
      font-family: $font-cabin;
      text-align: start;
      color: #303030;
      font-size: 20px;
      margin: 0;
      width: 100%;
    }
  }
}


@media screen and (max-width: 576px) {
  .child-two-child p {
    font-size: 1rem;
  }
  .child-two-child > div {
    text-align: center;
  }
}
.child-two-child > h2 {
  position: relative;
  width: 150px;
  height: 60px;
  border: 1px solid $blackColor;
  background: $greenColor;
  box-shadow: 5px 5px $blackColor;
  border-radius: 50px;
  font-weight: 700;
}
img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
