<section class="p-5 Vision-section">
  <div class="parent">
    <div class="child-one">
      <span class="d-block">vision</span>
      <h2 class="text-capitalize">
        a world where learning knows no boundaries
      </h2>
    </div>
    <div class="child-two">
      <div class="child-two-child">
        <h2>
          <img
            src="../../../../assets/svg/globe.svg"
            alt="globe photo"
            loading="lazy"
          />
        </h2>
        <div class="vision-statements">
          <h2 class="vision-statements-heading">
            Universal Access to Education
          </h2>
          <div class="vision-statements-description">
            <p>
              We believe that education should be accessible to all, regardless
              of geographical location, background, or socioeconomic status.
            </p>
            <p>
              Our vision is to break down barriers and provide equal
              opportunities for individuals around the world to access
              high-quality education.
            </p>
          </div>
        </div>
      </div>
      <div class="child-two-child">
        <h2>
          <img
            src="../../../../assets/svg/Books.svg"
            alt="books photo"
            loading="lazy"
          />
        </h2>
        <div class="vision-statements">
          <h2 class="vision-statements-heading">Lifelong Learning</h2>
          <div class="vision-statements-description">
            <p>
              We recognize that learning is a lifelong journey that continues
              beyond traditional educational institutions.
            </p>
            <p>
              Our vision is to foster a culture of continuous learning, where
              individuals can acquire new knowledge, skills, and insights at any
              stage of their lives to adapt and thrive in a rapidly changing
              world.
            </p>
          </div>
        </div>
      </div>
      <div class="child-two-child">
        <h2 class="mb-4">
          <img
            src="../../../../assets/svg/Physics.svg"
            alt="innovation"
            loading="lazy"
          />
        </h2>
        <div class="vision-statements">
          <h2 class="vision-statements-heading">Embracing Innovation</h2>
          <div class="vision-statements-description">
            <p>
              We embrace the power of technology and innovation to revolutionize
              education.
            </p>
            <p>
              Our vision is to harness the latest advancements in online
              learning, interactive tools, and data analytics to enhance the
              learning experience, personalize education, and enable continuous
              improvement in teaching and learning methodologies.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
