<section>
  <div>
    <h2>Deactivate account</h2>
    <h4>Temporary close your account</h4>
    <p *ngIf="role == 'Student'"><span>Warning: </span>If you deactivate your account, you will not recieve any emails about offers and updates</p>
    <p *ngIf="role == 'Instructor'"><span>Warning: </span>If you deactivate your account, you will not recieve any emails about updates and new features</p>
    <p class="fw-bold">To activate your account again, just login again.</p>
    <div class="btns">
      <button (click)="confirmation()" type="button" class="save">
        <span>Deactivate Account</span>
      </button>
    </div>
  </div>
</section>
