<div class="add-new-heading-title">
  <div class="add-new-heading">
    <div class="main-title">Video Title</div>

    <button (click)="onCancel()">
      <img src="../../../../assets/svg/x-icon.svg" alt="" />
    </button>
  </div>
  <div class="title-data">
    <input
      [(ngModel)]="editedVideo.title"
      type="text"
      placeholder="Give this video a title"
      (blur)="touchedFields.videoTitle = true"
    />
    <!-- Error message for Video Title -->
    <div *ngIf="isInvalidVideoTitle()" class="error-message error">
      {{ isInvalidVideoTitle() }}
    </div>
  </div>
</div>
<div class="description">
  <div class="description-heading">
    <div class="input-title-style">Video Description</div>
  </div>
  <div class="description-data">
    <input
      [(ngModel)]="editedVideo.description"
      class="input-style"
      type="text"
      placeholder="Give this video a description"
      (blur)="touchedFields.videoDescription = true"
    />
    <!-- Error message for VideoDescription -->
    <div *ngIf="isInvalidVideoDescription()" class="error-message error">
      {{ isInvalidVideoDescription() }}
    </div>
  </div>
</div>
<div class="lesson-content">
  <div class="lesson-content-heading">
    <div class="input-title-style">Upload Video</div>
  </div>
  <div class="lesson-content-data">
    <div class="dropzone-wrapper" *ngIf="!editedVideo.video?.videoUrl">
      <div class="dropzone-desc">
        <img src="../../../../assets/svg/video-placeholder.svg" alt="" />
        <input
          type="file"
          (change)="onVideoSelected($event)"
          class="dropzone"
          accept="video/*,video/x-matroska"
        />
      </div>
    </div>

    <div class="video-wrapper" *ngIf="editedVideo.video?.videoUrl">
      <video [src]="editedVideo.video?.videoUrl" controls></video>
      <button (click)="onDeleteVideo()">
        <img src="../../../../assets/svg/delete-ico.svg" alt="delete icon" />
      </button>
    </div>
  </div>
  <!-- Error message for Quiz Description -->
  <div *ngIf="uploadError" class="error-message error">
    {{ uploadError }}
  </div>
</div>

<div class="add-new-action">
  <button (click)="onSave()">{{ editMode ? "Save" : "Add" }}</button>
</div>
