<section class="goals main-padding-x main-padding-y">
  <div class="header">
    <h2>goals</h2>
    <p>At MindMission, We Empower:</p>
  </div>
  <div class="cards">
    <div class="card">
      <img
        src="../../../../assets/images/About/goals-1.webp"
        alt="people from different backgrounds"
        loading="lazy"
      />
      <div class="info">
        <h4>Learners of All Backgrounds</h4>
        <p>
          Whether they are students seeking to enhance their academic knowledge,
          professionals aiming to upskill or reskill, or individuals simply
          pursuing personal interests, our platform empowers them to acquire
          valuable skills and knowledge that can positively impact their lives.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../assets/images/About/goals-2.jpg"
        alt="instructor image"
        loading="lazy"
      />
      <div class="info">
        <h4>Instructors and Experts</h4>
        <p>
          It provides them with a platform to share their expertise and
          knowledge on a global scale, reaching and impacting learners from
          around the world. We empower instructors by offering them a supportive
          environment to showcase their expertise, engage with a diverse
          audience, and make a meaningful impact.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../assets/images/About/goals-3.jpg"
        alt="earth photp"
        loading="lazy"
      />
      <div class="info">
        <h4>Global Society</h4>
        <p>
          By promoting lifelong learning, cross-cultural exchange, and global
          collaboration, we foster a society that values continuous growth,
          innovation, and understanding. Empowered individuals become agents of
          positive change, contributing to their local communities and
          addressing global challenges.
        </p>
      </div>
    </div>
  </div>
</section>
