@use "../../../../assets/style/abstracts/variables.scss" as *;
@use "../../../../assets/style/abstracts/mixins.scss" as *;


section {
  .forget-password-container {
    width: 100%;
    padding: 20px;
    border: 1px solid $blackColor;
    box-shadow: 5px 5px $blackColor, 5px 5px 0px 1px $blackColor;
    h2 {
      @include style-font($font-anton,48px,124.04%,$blackColor);
      margin-bottom: 50px;
    }
    form {
      div {
        position: relative;
        input {
          width: 100%;
          padding: 15px;
          border: 2px solid $blackColor;
          font-size: 18px;

          &::placeholder {
            color: $blackColor
          }

          &:read-only {
            color: rgba(0, 0, 0, 0.248);
            border-color:rgba(0, 0, 0, 0.248);
          }

          &:focus {
            outline: none;
          }
        }

        svg {
          position: absolute;
          width: 20px;
          height: 20px;
          cursor: pointer;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
        }
      }
      .reset-password {
        @include custom-button($greenColor,$blackColor,$blackColor,22px);
        padding: 7px 22px;

        &.send {
          opacity: 0.7;
          box-shadow: none;
          cursor: not-allowed;
          &:active {
            transform: translate(0px, 0px);
            -webkit-transform: translate(0px, 0px);
            -moz-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            -o-transform: translate(0px, 0px);
          }
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            &::after {
              content: "";
              width: 20px;
              height: 20px;
              border: 3px solid black;
              border-left: 3px solid transparent;
              animation-name: load;
              animation-timing-function: linear;
              animation-duration: 0.7s;
              animation-iteration-count: infinite;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
            }
          }
        }
      }
      .login {
        @include style-font($font-cabin,16px,124.04%,$blackColor);
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
    -webkit-transform: rotate(350deg);
    -moz-transform: rotate(350deg);
    -ms-transform: rotate(350deg);
    -o-transform: rotate(350deg);
  }
}

@media (min-width: 992px) {
  section {
    .forget-password-container {
      width: 45%;
      padding: 40px;
    }
  }
}
