<div class="student-feedback-section">
  <div class="students-feedback">
    <div class="student-feedback-card">
      <div class="student-image">
        <img src="../../assets/images/student1.jpg" alt="student image" />
      </div>
      <div class="student-feedback">
        <div class="student-review">
          <div class="student-comment">
            Taking the Node.js course on MindMission was one of the best
            decisions I've made for my career. As a software developer, I was
            seeking to enhance my skills and stay updated with the latest
            technologies. The course genuinely exceeded my expectations.
          </div>
          <div class="student-rating">
            <div class="student-name">Monica Geller</div>
            <div class="student-course-rating">
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
            </div>
          </div>
        </div>
        <div class="student-course">
          Completed the ‘Mastering Python: From Fundamentals to Advanced
          Concepts’ course
        </div>
      </div>
    </div>
    <div class="student-feedback-card">
      <div class="student-image">
        <img src="../../assets/images/student1.jpg" alt="student image" />
      </div>
      <div class="student-feedback">
        <div class="student-review">
          <div class="student-comment">
            Taking the Node.js course on MindMission was one of the best
            decisions I've made for my career. As a software developer, I was
            seeking to enhance my skills and stay updated with the latest
            technologies. The course genuinely exceeded my expectations.
          </div>
          <div class="student-rating">
            <div class="student-name">Monica Geller</div>
            <div class="student-course-rating">
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
            </div>
          </div>
        </div>
        <div class="student-course">
          Completed the ‘Mastering Python: From Fundamentals to Advanced
          Concepts’ course
        </div>
      </div>
    </div>
    <div class="student-feedback-card">
      <div class="student-image">
        <img src="../../assets/images/student1.jpg" alt="student image" />
      </div>
      <div class="student-feedback">
        <div class="student-review">
          <div class="student-comment">
            Taking the Node.js course on MindMission was one of the best
            decisions I've made for my career. As a software developer, I was
            seeking to enhance my skills and stay updated with the latest
            technologies. The course genuinely exceeded my expectations.
          </div>
          <div class="student-rating">
            <div class="student-name">Monica Geller</div>
            <div class="student-course-rating">
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
              <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
            </div>
          </div>
        </div>
        <div class="student-course">
          Completed the ‘Mastering Python: From Fundamentals to Advanced
          Concepts’ course
        </div>
      </div>
    </div>
  </div>
  <button class="view-more-btn">View more</button>
</div>
