<!-- Instructor Title -->
<div class="grid-container-sub-header">
  <div class="instructor-details-card item1">
    <div class="course-picture">
      <img [src]="instructor[0].profilePicture" alt="instructor image" />
    </div>
    <div class="course-info">
      <div class="course-rating">
        <img src="../../assets/svg/rating-star.svg" alt="rating-star" />
        <span> {{ instructor[0].avgRating }} Instructor Rating</span>
      </div>
      <div class="course-students">
        <div class="enrollments-number">
          {{ instructor[0].noOfStudents }} Students |
          {{ instructor[0].noOfCources }} Courses
        </div>
      </div>
    </div>
    <div class="instructor-action">
      <button class="website" (click)="redirectToGitHub()">GitHub</button>
      <button class="website" (click)="redirectToLinkedin()">LinkedIn</button>
      <button class="website" (click)="redirectToTwitter()">Twitter</button>
    </div>
  </div>
  <div class="instructor-description item2">
    <div class="instructor-name">
      {{ instructor[0].firstName }} {{ instructor[0].lastName }}
    </div>
    <div class="description">{{ instructor[0].description }}</div>
  </div>
</div>

<!--instructor's courses-->
<div class="courses-section">
  <h1>{{ instructor[0].firstName }}'s Courses</h1>

  <div class="suggested-courses-section">
    <div
      class="course-card"
      *ngFor="let course of instructorCourses; let i = index"
    >
      <img
        [src]="course.imageUrl"
        alt="{{ course.title + ' image' }}"
        class="course-image"
      />
      <div class="course-info">
        <div class="course-rating">
          <img
            *ngFor="let star of [1, 2, 3, 4, 5]"
            [src]="'../../assets/svg/rating-star.svg'"
            alt="rating-star"
            [class.highlighted]="star <= course.avgReview"
          />
        </div>
        <div class="course-category">{{ course.categoryName }}</div>
        <div class="course-name">{{ course.title }}</div>
        <div class="course-students">
          <div class="student-pictures">
            <img
              class="course-students-pic"
              src="../../assets/images/student1.webp"
              alt="student-picture"
            />
            <img
              class="course-students-pic"
              src="../../assets/images/student2.webp"
              alt="student-picture"
            />
            <img
              class="course-students-pic"
              src="../../assets/images/student3.webp"
              alt="student-picture"
            />
            <img
              class="course-students-pic"
              src="../../assets/images/student4.webp"
              alt="student-picture"
            />
          </div>
          <div class="enrollments-number" *ngIf="course.noOfStudents < 1000">
            {{ course.noOfStudents }} enrolled
          </div>
          <div
            class="enrollments-number"
            *ngIf="course.noOfStudents >= 1000 && course.noOfStudents < 1000000"
          >
            {{ course.noOfStudents / 1000 | number : "1.0-2" }}K enrolled
          </div>
          <div
            class="enrollments-number"
            *ngIf="course.noOfStudents >= 1000000"
          >
            {{ course.noOfStudents / 1000000 | number : "1.0-4" }}M enrolled
          </div>
        </div>
      </div>

      <div class="course-instructor-price">
        <div class="course-instructor">
          <div class="instructor-picture">
            <img
              [src]="instructor[0].profilePicture"
              alt="instructor-picture"
            />
          </div>
          <div class="instructor-name">
            {{ instructor[0].firstName }} {{ instructor[0].lastName }}
          </div>
        </div>
        <div class="course-price">{{ course.price }}</div>
      </div>
    </div>

    <button
      class="view-more-btn"
      (click)="loadMoreCourses()"
      *ngIf="instructorCourses.length < totalSize"
    >
      View more
    </button>
  </div>
</div>
<!--Course Feedback section-->
<div class="Review-section">
  <h1>Alaa's Reviews</h1>
  <div class="student-feedback-section">
    <div class="students-feedback">
      <div
        class="student-feedback-card"
        *ngFor="let feedback of instructorFeedbacks"
      >
        <div class="student-image">
          <img [src]="feedback.studentImage" alt="student image" />
        </div>
        <div class="student-feedback">
          <div class="student-review">
            <div class="student-comment">
              {{ feedback.feedbackText }}
            </div>
            <div class="student-rating">
              <div class="student-name">Monica Geller</div>
              <div class="student-course-rating">
                <img
                  src="../../assets/svg/rating-star.svg"
                  alt="rating-star"
                  *ngFor="
                    let n of [].constructor(feedback.courseRating);
                    let i = index
                  "
                />
              </div>
            </div>
          </div>
          <div class="student-course">
            Completed the "{{ feedback.courseName }}" course
          </div>
        </div>
      </div>
    </div>
    <button
      class="view-more-btn"
      (click)="loadMoreFeedbacks()"
      *ngIf="instructorFeedbacks.length < totalSize"
    >
      View more
    </button>
  </div>
</div>
