<div class="add-new-heading-title">
  <div class="add-new-heading">
    <div class="main-title">Article Title</div>

    <button (click)="onCancel()">
      <img src="../../../../assets/svg/x-icon.svg" alt="" />
    </button>
  </div>
  <div class="title-data">
    <input
      [(ngModel)]="editedArticle.title"
      type="text"
      placeholder="Give this article a title"
      (blur)="touchedFields.articleTitle = true"
    />
    <!-- Error message for Article Title -->
    <div *ngIf="isInvalidArticleTitle()" class="error-message error">
      {{ isInvalidArticleTitle() }}
    </div>
  </div>
</div>
<div class="description">
  <div class="description-heading">
    <div class="input-title-style">Article Description</div>
  </div>
  <div class="description-data">
    <input
      [(ngModel)]="editedArticle.description"
      class="input-style"
      type="text"
      placeholder="Give this article a description"
      (blur)="touchedFields.articleDescription = true"
    />
    <!-- Error message for Article Description -->
    <div *ngIf="isInvalidArticleDescription()" class="error-message error">
      {{ isInvalidArticleDescription() }}
    </div>
  </div>
</div>
<div class="lesson-content">
  <div class="lesson-content-heading">
    <div class="input-title-style">Article Body</div>
  </div>
  <div class="lesson-content-data">
    <quill-editor
      [(ngModel)]="editedArticle.content"
      [modules]="quillConfig"
      (onBlur)="blur($event)"
      placeholder="Enter article body"
      [styles]="{ minHeight: '200px' }"
    ></quill-editor>
  </div>
  <!-- Error message for Article Content -->
  <div *ngIf="isInvalidArticleContent()" class="error-message error">
    {{ isInvalidArticleContent() }}
  </div>
</div>

<div class="add-new-action">
  <button (click)="onSave()">{{ editMode ? "Save" : "Add" }}</button>
</div>
