@use "../../assets/style/abstracts/variables.scss" as *;
@use "../../assets/style/abstracts/mixins.scss" as *;
@use "../../assets/style/abstracts/_placeholders.scss" as *;

.wrapper {
  background-color: $mainColorLight;
  padding: 30px;
  .box {
    padding: 1rem;
    margin: 1rem;
    border: 2px solid $blackColor;
    background-color: $whiteColor;

    h1 {
      @include style-font("Anton", 48px, 80px, $blackColor);
    }

    .controls {
      @extend %flex-row;
      gap: 0.4rem;
      margin-bottom: 1rem;

      header,
      button {
        @include custom-header();
      }

      button {
        box-shadow: none;
        background-color: $mainColorLight;
      }
    }
  }
}
