@use "../../../assets/style/abstracts/mixins.scss" as *;
@use "../../../assets/style/abstracts/variables.scss" as *;
@use "../../../assets/style/abstracts/_placeholders.scss" as *;

.shopping-cart{
  width: 540px;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: $secondaryColor;

  .cart-header{
    grid-row: 1;
    @include style-display-row-center(0, 30px, 40px);
    justify-content:space-between;
    background: $blackColor;
    border: 2px solid $blackColor;
    :first-child{
      @include style-font($font-anton, 32px, 124.04%, $whiteColor,400);
    }
    :last-child {
      cursor: pointer;
    }
  }
  .cart-content{
    grid-row: 2;
    @include style-display-column-center(16px, 24px, 40px);
    padding: 100px 24px 24px 24px;
    justify-content: center;
    background: $secondaryColor;
    overflow-y: auto;
    overflow-x: hidden;


    .empty-cart{
      @include style-font($font-anton, 24px, 124.04%, $blackColor,400);
    }
    .cart-course{
      display: flex;
      padding: 24px;
      gap: 10px;
      background: $whiteColor;
      border: 1px solid $blackColor;
      .course-image{
        flex: 0 0 200px;
        border: 1px solid $blackColor;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .course-info{
        flex: 1;
        @include style-display-column(16px, 0);

        .course-main-info{
          @include style-display-column(8px, 0);
          .course-rating{
            @include style-display-row(2.8px, 0);
          }
          .course-name{
            @include style-font($font-anton, 24px, 124.04%, $blackColor,400);
          }
          .course-instructor{
            @include style-display-row-center(8px, 0);

            .instructor-avatar{
              @include style-display-row(0, 0);

              width: 24px;
              height: 24px;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid $blackColor;
                border-radius: 50%;
              }
            }
            .instructor-name{
              @include style-font($font-cabin, 16px, 19px,$darkGreyColor,700);
            }
          }
        }
        .price-delete-section{
          width: 100%;
          @include style-display-row-center(0, 0);
          justify-content: space-between;

          .course-price{
            padding: 10px 24px;
            background: $greenColor;
            border: 1px solid $blackColor;
            border-radius: 33px;
            @include style-font($font-cabin, 16px, 19px,$darkGreyColor,700);

          }
          .delete-course{
            width: 16px;
            height: 16px;
            cursor: pointer;
          }
        }

      }
    }
  }
  .cart-checkout{
    grid-row: 3;
    @include style-display-column(16px, 40px);
    background: $whiteColor;
    border: 2px solid $blackColor;
    width: 100%;
    height: 186px;
    margin-top: auto;


    .cart-price{
      display: flex;
      justify-content: space-between;
      width: 100%;

      :first-child{
        @include style-font($font-anton, 24px,124.04%, $blackColor,400);
      }
      :last-child{
        @include style-font($font-cabin, 24px, 29px, $darkGreyColor,700);
      }
    }
    button{
      @include custom-button($greenColor,$blackColor,$blackColor,40px);
        width: 100%;
    }
  }
}


@media screen and (max-width: 540px) {
  .shopping-cart {
    width: 100%;
  }
}
