@use "./assets/style/abstracts/placeholders" as *;
@use "./assets/style/abstracts/variables.scss" as *;
@use "./assets/style/abstracts/mixins.scss" as *;
@use "./assets/style/components/title" as *;
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*{
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  font-style: normal;
  font-weight: 400;
  min-height: calc(100vh - (434px));
  overflow-x: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  &.overlay {
    height: 100vh;
    position: relative;
    overflow: hidden;
    &::before {
      background-color: #555555f6;
      z-index: 10000000000;
    }
  }
}

@media (min-width: 992px) {
  body {
    &.overlay {
      height: 100vh;
      position: relative;
      overflow: hidden;
      &::before {
        content: "";
        display: none;
      }
    }
  }
}

.side-cart{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*  Scroll Bar */

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #ade2bf;
  border: 6px solid transparent;
  background-clip: content-box;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #9bcbab;
}

/* Skeleton styles */
.skeleton {
  background: linear-gradient(90deg, #dbdbdb 25%, #b7b6b6 50%, #5f5e5e 75%);
  background-size: 200% 100%;
  animation: loading 2s infinite;
  border-radius: 4px;
  width: 740px;
  margin-bottom: 4px;
}
@media only screen and (max-width: 884px) {
  .skeleton {
    width: 80vwx;
  }
}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';



.errors-sec{
  @include style-display-column(8px, 0px);
}
.error-message{
  color: $error-color;
}


.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}


.container-fluid {
  padding: 0 !important;
}

.article-sec img,
.article-sec video,
.article-sec object,
.article-sec embed {
  max-width: 100% !important;
}

.article-sec *,
.article-sec * img {
  max-width: 100% !important;
}

.article-sec img {
  object-fit: cover;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.main-padding{
  padding: 24px 40px;
}
.main-padding-x{
  padding-left: 40px;
  padding-right: 40px;
}
.main-padding-t{
  padding-top: 88px;
}
.main-padding-b{
  padding-bottom:  88px;
}
.main-padding-y{
  padding-top: 88px ;
  padding-bottom:  88px;
}
